[2016-04-01 15:18] hjacobs opened #1 "README links to internal Zalando TechWiki"
The README.md has two links pointing into Zalando internal infrastructure.

[2016-04-01 15:36] fmueller commented on #1
I know, I searched for it before and found such links in other Zalando open source projects. These two are pointing to wiki and internal GitHub Enterprise. Is this something that has to be fixed? Just to clarify. Thanks in advance.

[2016-04-01 16:15] hjacobs commented on #1
@femueller I don't see it as a security issue, but more as "not useful/helpful" for interested readers outside Zalando.

[2016-04-01 16:16] hjacobs commented on #1
@fmueller what other Open Source projects did you find with such links?

[2016-04-03 12:37] ePaul opened #2 "Refer to RFC 7807 for the common error object"
I just noticed (looking for the April fools RFCs) that there is a new [RFC 7807](http://tools.ietf.org/html/rfc7807) defining a JSON error object, which seems to be based on the draft to which we are referring in the common data objects section.

That section should be adapted to refer to this RFC instead.

The RFC defines it as `application/problem+json`, while our guidelines are using `applicati

[2016-04-05 07:43] hjacobs commented on #2
:+1:

[2016-04-05 07:47] mostlymagic commented on #2
@ePaul rather than filing an issue, why don't you submit a pull request?

[2016-04-05 08:39] fmueller commented on #1
@hjacobs In https://github.com/zalando/ghe-backup I saw links to Zalando Pier One Installation. And you are right, for our public audience I'll improve on introduction text. Im thinking about a Zalando specific paragraph where we link to internal documents for further reading.

[2016-04-05 08:41] ePaul commented on #2
you submit a pull request?

I noted that on a weekend, when I don't work, and filed the issue so I
don't forget it. I will create a pull request as soon as I find some time
to do it (if noone else does it earlier).

[2016-04-05 09:45] hjacobs commented on #1
@fmueller sounds good, thanks.

[2016-04-06 01:23] valgog opened #4 "Clarify usage of time zones in time formats"
Examples and the last paragraph of the [data time format section](https://github.com/zalando/restful-api-guidelines/blob/master/data-formats/DataFormats.md#-bookmust--use-standard-date-and-time-formats) are not consistent.

Are the time zones other than UTC allowed in payloads?

[2016-04-06 22:13] whiskeysierra commented on #4
The way I understand the sentence, yes. Basically input can be any offset (from UTC), but output should be in UTC, so normalized. I'm not sure if this is actually desirable, but I think this is what it says. I agree that the paragraph can certainly be improved.

[2016-04-07 15:29] hjacobs opened #7 "Add LICENSE and MAINTAINERS files"
Please add `LICENSE` and `MAINTAINERS` files as described in our "How To Open Source" guide: https://github.com/zalando/zalando-howto-open-source

[2016-04-07 15:29] hjacobs commented on #7
And also add a `.catwatch.yaml` file to have a proper title on our Open Source page, example: https://github.com/zalando/zmon-controller/blob/master/.catwatch.yaml

[2016-04-07 15:54] #2 closed

[2016-04-07 17:55] valgog commented on #4
@tfrauenstein Thomas, what do you think on that topic?

I personally would allow correct usage of Time Zones. Or do we want to go conservative and recommend to use only times in UTC?

[2016-04-07 18:04] whiskeysierra commented on #4
I think we should allow any offset/timezone in both requests and responses. Maybe we can encourage UTC for simplicity/consistency, not sure though.

[2016-04-08 08:24] etorreborre opened #8 "{{ book.must }}: artefact from some templating engine?"
In [Data formats](https://github.com/zalando/restful-api-guidelines/blob/master/data-formats/DataFormats.md) there is `{{ book.must }}`. Should it be displayed as `MUST`?

[2016-04-08 08:26] tfrauenstein commented on #1
I think, we should provide internal links -- they are helpful for main user group of Zalandos.
However, we should also markup these links as internal links as to improve external usage convenience.
Any ideas for concrete markup?

[2016-04-08 08:31] ePaul commented on #8
In the [rendered version](http://zalando.github.io/restful-api-guidelines/data-formats/DataFormats.html) it is displayed in red. The source code have this `{{ book.must }}` instead, which is then processed by the rendering engine. (Same for `should` and `could`.)

[2016-04-08 08:36] etorreborre opened #9 "Table markup is not displaying properly"
[There](https://github.com/zalando/restful-api-guidelines/blob/master/http/Http.md#success-codes) for example.

[2016-04-08 08:38] ePaul commented on #1
@tfrauenstein: @fmueller edited the file in #6 to move the internal references (and some text around it) into a separate section titled "Zalando specific information". Is this enough, or do we need a special marker for "non-public link"?

[2016-04-08 08:41] priesus opened #10 "Single page version would be nice for quickly browsing/searching"
I usually love to use the browser search to quickly find what I'm looking for (e.g. when I have a keyword in mind and I know there's something in the guidelines about this).

The GitBook search doesn't seem so convenient. You still have to click through pages and don't have highlighted search results.

Is there a possibility to provide a single-page version of the book?

[2016-04-08 08:55] tfrauenstein commented on #1
I think a separate section is fine for the situation above -- but IMO not a general solution pattern.
For instance, there are still some links to our "Best Practises" (e.g. http://zalando.github.io/restful-api-guidelines/http/Http.html). Introducing new sections here is not adequate.

I simply propose convention to add "[internal link]" to the link text, e.g. "Best Practises [internal link]".

[2016-04-08 08:59] fmueller commented on #9
Please use the rendered version: http://zalando.github.io/restful-api-guidelines/http/Http.html In rendered version it looks good.

[2016-04-08 09:00] fmueller commented on #8
Because we're are using Gitbook for rendering the markdown files, reading them is propbably not convenient.

[2016-04-08 09:01] fmueller commented on #1
Right, there are still other internal link and maybe in future we'll add more.

+1 for adding [internal link] to each internal link. Other votes on this?

[2016-04-08 09:02] fmueller commented on #7
Under which license do we maintain the guidlines? Creative commons?

[2016-04-08 09:05] ePaul commented on #7
I think CC-BY is suitable here (we don't need share-alike, do we?). It seems equivalent to the MIT license for software. (You can follow the examples of the "howto open-source" repository there.)

I volunteer to be one of the names in the MAINTAINERS file.

[2016-04-08 09:13] fmueller commented on #7
For MAINTAINERS file I'll add all from the API guild.

CC-BY seems to do the job.

[2016-04-08 09:23] fmueller commented on #4
I'm with @whiskeysierra. Timezones are always hard and mostly handled wrong. I'd propose a Should paragraph for encouraging UTC in our guidelines.

[2016-04-08 11:41] fmueller commented on #10
It should be possible with 'gitbook build -f page' but for some reason in our setup this is not working out of the box. @mostlymagic Could this be cause by one of our plugins?

Or we need to upgrade our Gitbook version. I'll investigate more on this.

In the meantime you can build a PDF, by (on Mac with Homebrew):

brew install cask
brew cask install calibre
make init
npm install ebook-convert
nod

[2016-04-08 11:47] tfrauenstein commented on #10
@fmueller as discussed, Iit would be great, if there is an easy way to also generate the pdf with gitbook pages, to ship it with the pages and let the intro pages link to the pdf. Is this feasible w/o bigger efforts?

[2016-04-08 12:38] tfrauenstein opened #11 "JSON vs. other media types as playload"
In section https://github.com/zalando/restful-api-guidelines/blob/master/data-formats/DataFormats.md we have defined the following rule: "Must: Use JSON as the Body Payload"

I think this is not 100% correct. We already required compliance to OpenAPI standard. Here payload is defined compliant to JSON -- especially via Schema Object http://swagger.io/specification/#schemaObject. It is a subset of

[2016-04-08 12:54] ePaul commented on #11
I don't really understand the issue here, can you explain a bit more?

OpenAPI defines a way of describing the API, but it actually allows both JSON and XML (if you use the right produces/consumes properties). Saying that we support just JSON is useful. Saying you should follow the JSON RFC (and not use some "variants" which might be out there, like different String delimiters, comments, ...) seem

[2016-04-08 13:09] ePaul commented on #9
Maybe we can somehow make it clear in the README that the `.md` files in the repository are not meant to be read directly in Github, but only after formatting?

But the README.md itself is also the introduction section of the book, so this would need some rearranging.

Or can we tell Github to use a different formatting engine?

[2016-04-08 13:12] ePaul commented on #8
Closing this. #9 is also about the question of reading directly on Github.

[2016-04-08 13:12] #8 closed

[2016-04-08 13:26] fmueller commented on #9
What about separating introduction section and Readme completely?

[2016-04-08 14:19] etorreborre commented on #9
Get it, thanks. Maybe a link to the rendered doc at the beginning of the README will help.

[2016-04-08 14:20] ePaul commented on #9
There is one, it is just not that prominent above the image.

[2016-04-08 14:21] tfrauenstein commented on #9
Good proposal -- yes we should do it like this.
More open source standard conform with info about scope, usage, license, ... and links to html and pdf versions.

[2016-04-08 15:23] fmueller commented on #10
PDF generation is now part of the publishing travis build and you'll find the newest version under this link: http://zalando.github.io/restful-api-guidelines/guidelines.pdf

I'll still investigate a single page generation in HTML.

[2016-04-08 15:24] fmueller commented on #1
Closed. Internal link naming convention is merged and further discussion for separating intro and readme will take place in #9

[2016-04-08 15:24] #1 closed

[2016-04-08 15:38] ePaul opened #14 "PDF version: some oddities"
Looking at the PDF version generated after #12, I've found some things to improve.
I have not looked at the generation process, so I have no idea if they even can be improved at all.

* Each page's header has "Introduction", not only in the "Introduction" section.
* There are some spurious blank pages (3, 4, 7, 26) – one of them (page 4) is titled "Table of Contents", but is otherwise empty.
* The

[2016-04-08 15:42] fmueller commented on #7
Solved.

[2016-04-08 15:42] #7 closed

[2016-04-08 18:11] tfrauenstein commented on #4
Yes, here the current guideline is somehow contradicting and I share Willi's interpretation.

We can be more precise and a bit less restrictive -- so I propose the following update:
a) (zone) offset may be used (both, in request and responses) -- this is simply defined by the standards
b) however, we encourage to restrict to UTC (and go without offsets) when dates are passed and (above all) return

[2016-04-11 08:18] fmueller opened #17 "Make each paragraph referenceable by anchors"
For API reviews and for discussions it'd be more convenient to have anchors for direct reference like http://zalando.github.io/restful-api-guidelines/common-data-objects/CommonDataObjects.html#CommonErrorObject

[2016-04-11 12:18] ePaul commented on #17
If by "paragraph" you mean the individual rules (i.e. the things prefixed by must/should/could), then I agree.

[2016-04-11 13:05] fmueller commented on #17
In fact, I mean the rules by this.

[2016-04-11 15:19] fmueller commented on #9
Solved.

[2016-04-11 15:19] #9 closed

[2016-04-11 15:29] ePaul opened #20 "License confusion"
Hmm, now the README says "MIT License", while the LICENSE file says CC-BY (Creative commons Attribution 4.0). Sorry, I missed this in #19.

While these are largely equivalent (from my understanding), we should choose just one of them, or say that we license under both.

[2016-04-11 15:43] fmueller commented on #20
A copy-paste error of mine.

[2016-04-12 21:15] fmueller commented on #20
Solved.

[2016-04-12 21:15] #20 closed

[2016-04-13 10:18] whiskeysierra commented on #4
I guess we can close this now.

[2016-04-13 10:18] #4 closed

[2016-04-13 10:20] whiskeysierra commented on #17
Referencing headlines in the github file view directly kind of sucks right now, because we have the must/should/can template things in there. Referencing headlines on the page directly requires to lookup the headline id in the source code, which is unfortunate.

[2016-04-13 10:20] whiskeysierra commented on #17
This could help https://github.com/rlmv/gitbook-plugin-anchors

[2016-04-13 11:00] whiskeysierra opened #24 "Add comparison of different link standards"
Right now the guidelines state:

We probably should not allow all link standards in the long term, since we are going for a consistent API look and feel. To move that discussion forward, maybe we could start adding a comparison of different standards.

[2016-04-13 11:11] ePaul commented on #17
OpenAPI is using `<a name="‹identifier›"></a>` inside their section titles. This works with Github's view (though my Markdown editor doesn't like links to those), though I have no idea if it works with the GitBook's HTML view and/or the PDF generator.

[2016-04-13 12:18] fmueller opened #27 "Integrate zappr for automatic approval handling"
To merge guideline changes we state in our contribution guideline that we need at least one approval of another committer. By zappr we can automate this process.

[2016-04-13 12:23] whiskeysierra opened #28 "Should we have a limit of resources?"
Right now we have two [sections](http://zalando.github.io/restful-api-guidelines/naming/Naming.html#should-limit-of-resources) in the guidelines about limiting the number of resource/sub-resources to an arbitrary limit:

I agree with limits, but I'm not sure whether we can have something as concrete as *16* in there. I'd consider 5 to be a lot of resources already. But there might be valid excuses

[2016-04-13 12:37] whiskeysierra commented on #17
The anchor icons are overlapping the headlines. Locally it looked different :/

[2016-04-13 12:38] fmueller commented on #24
Good point. @zmeda already did a comparison of different HATEOAS implementations: http://zmeda.github.io/mc-hateoas-evaluation/#/ We can use this as starting point of our comparison.

[2016-04-13 12:39] fmueller commented on #17
Only if i hover over it which is ok (Mac/Chrome).

[2016-04-13 12:42] tfrauenstein commented on #28
I think that we should keep the rule (btw: we merged it now, originally it was part of a bunch of 5 rules that I proposed and sent for review based on discussion with TUK guy, now some 6m ago).

Yes, 16 is quite high and arbitrary -- but it is the upper limit and it is a should rule.
I would like to have a hard upper limit -- perhaps 12 is a better choice? -- but would add before with certain emph

[2016-04-13 12:49] ePaul commented on #17
Yeah, it would be a bit nicer if the icons were moved a bit to the left, but this is not a blocker for me.

[2016-04-13 12:51] tfrauenstein commented on #24
Our plan was:
step 1) restrict guideline to HAL and json:api for the time being.
step 2) Align on Pros and Cons (based on separate doc, for the time being) <-- initial draft from Boris
step 3) Agree on some guideance update which one to be preferred (in which situation)

I propose to proceed like this -- step 1) immediately; step 2) @fmueller with Boris -- as input for next Guild JF

[2016-04-14 08:37] dehora opened #32 "RFC: JSON Style Guide"
This issue contains a draft style guide for use with Zalando APIs akin to that provided by [Google](https://gist.github.bus.zalan.do/bdehora/1749ed3c05316c26d2d1), for discussion. It could be a standlone document or a top level section of the existing guidelines (the latter would save having to work with two documents).  There is something to be said for being able to think about media type and JS

[2016-04-14 09:34] mostlymagic commented on #32
JSON guide looks good to me, we should discuss the other changes in a PR

[2016-04-14 09:58] fmueller commented on #17
Can we close this issue again @whiskeysierra ?

[2016-04-14 10:03] whiskeysierra commented on #17
I'm trying to identify the conflicting CSS rule that makes the anchor icon appear so big. Looks like it's this one in `style.css`:

[code]

The one that should win is in `plugin.css` line 14:

[code]

[2016-04-14 10:04] whiskeysierra commented on #17
Just for reference, the anchors should be a lot smaller:

![Giitbook Anchor](https://cloud.githubusercontent.com/assets/2666107/3465465/9fc9a502-0266-11e4-80ca-09a1dad1473e.png)

[2016-04-14 10:56] hjacobs opened #35 "Consider adding a section about recommended "API-First" (OpenAPI/Swagger) tools"
I think we should consider linking our recommended OpenAPI tools in the RESTful API guidelines:

* https://github.com/zalando/connexion
* https://github.com/zalando-stups/friboo
* https://github.com/zalando/play-swagger

(and others)

Obviously this would somewhat duplicate what is listed on the [Swagger Open Source Integrations page](http://swagger.io/open-source-integrations/), but IMHO a curate

[2016-04-14 10:57] hjacobs commented on #35
This section would also be really handy for people to link to (answering a "support" question), we are maintaining a similar list for STUPS OAuth integrations (http://docs.stups.io/en/latest/appendix/oauth-integrations.html).

[2016-04-14 11:45] ePaul commented on #35
I guess swagger-codegen (+ our own swagger-codegen-tooling) also belong in such a list.

[2016-04-14 13:33] hjacobs commented on #35
@ePaul sure, my list was not exhaustive.

[2016-04-19 09:50] fmueller commented on #28
I would emphasize more on separation of concerns and single responsibility design patterns.

Nevertheless is an upper bound somehow necessary although it really depends on the context as usual. So, my proposal is: Adding more general guidance about proper design aspects (SoC and SRP) and leave the rule as it is.

[2016-04-19 11:49] fmueller commented on #32
Great idea. I'd also leave it in our api guidelines, just as a separate section. What I still don't understand is, why you have hypermedia section in there. This I'd exclude from json section.

Can you please prepare a pr for it @dehora?

[2016-04-19 11:54] dehora commented on #32
@fmueller 👍

Mostly because hypermedia impacts media type designs (eg whether we should use something like HAL). We can go through it in the pr

[2016-04-19 12:06] fmueller commented on #32
Actually I'm preparing sth for hypermedia, see #24

[2016-04-19 12:20] fmueller commented on #35
Can you prepare a pr with the suggested tooling section @hjacobs?

[2016-04-19 12:23] hjacobs commented on #35
@fmueller sure, just wanted to check first whether others find that useful as well :smile:

[2016-04-19 14:01] tfrauenstein commented on #35
I like the initiative for recommended OpenAPI tools section.
However, I think we should continue to update the corresponding section in the "API Practises" Doc https://docs.google.com/document/d/1Dqgkfxm2Jt9mVSraOYWSfKq3cKaZwf_VOgYDRuUf7kI/edit#heading=h.i7nw1hn4w2ox
Would prefer to keep API Design Guideline separated from Tooling and Implementation Practises.

[2016-04-19 15:16] fmueller commented on #35
@tfrauenstein I'd like to see it as some sort of a reference section where we just propose some tools to implement our guidelines - also for public audience. The internal document is not usable for Non-Zalandos. This does not mean that we should drop the internal 'API Practices' doc.

[2016-04-19 16:12] tfrauenstein commented on #35
@fmueller we can do it -- but I would avoid unclear scopes and consistently maintaining redundancies.
We have the "Practises Doc" with corresponding chapter and it is no. 1 choice of teams to get infos on implementation practices. I don't see here prio to also share tooling and implementation practises with the rest of the world.

[2016-04-20 07:59] fmueller commented on #35
My suggestion is, adding an internal link to our guidelines so that teams can find best practices and implementation hints when reading our guidelines. Furthermore, due our guidelines also have public audience I'd add a section with public tool links.

@hjacobs Your view on this?

[2016-04-20 08:20] fmueller commented on #10
I close this issue. Unfortunately there is not easy way to generate a singe page version via gitbook. For this, one has to use the pdf version.

[2016-04-20 08:20] #10 closed

[2016-04-20 08:28] whiskeysierra commented on #35
I agree. Adding a link from a rule to an open source (reference) implementation makes sense. Maybe even the other way around, i.e. having a link from our projects to the rules. It's a nice way to promote our guidelines as well as our open source projects.

This applies to

- json-fields: Filter filtering
- problem, problem-spring-web, friboo, connexion: Problem types
- twintip, twintip-spring-web:

[2016-04-26 15:34] ePaul opened #41 "Review the "merge all pending changes from google doc" commit"
In commit a68803b1, a lot of changes were merged into the guideline without proper discussion. Those originated as change proposals in our internal Google doc, and had different states of approval at this point.

I was already surprised by several of those changes since then. I guess we should go systematically over all those changes and discuss whether they are good, and then possibly roll back t

[2016-04-26 16:04] ePaul opened #42 "Don't specify all possible HTTP status codes"
The guidelines currently say (in section "HTTP", rule "[Must: Providing Error Documentation](http://zalando.github.io/restful-api-guidelines/http/Http.html#must-providing-error-documentation)"):

I think we should instead encourage to not document common HTTP errors which have no special meaning for this API, but just the default HTTP meaning, and can happen always (like 500, 503, ...).

Clients s

[2016-04-26 16:05] ePaul commented on #42
(This text arrived in the guidelines with  a68803b, thus parent issue: #41.)

[2016-04-26 17:30] ePaul opened #45 "Review for compatibility section"
*(This is a part of #41, see there for the general view.)*

Commit a68803b changed those things in the Compatibility section:

* a small typo fix :white_check_mark:
* completely reworded the itemized list in "Prefer compatible extensions" rule
* reword the "Avoid versioning" + "Use Media type versioning, not URI versioning" rules, leaving three rules "Avoid versioning", "Use media type versioning"

[2016-04-26 17:43] ePaul opened #46 "Review for General Guidelines + design principles sections"
*(This is a part of #41, see there for an overview.)*

Commit a68803b1 [changed these things in the General Guidelines section](https://github.com/zalando/restful-api-guidelines/commit/a68803b1ed6025d37200e8d456075488f7d51068?short_path=f7d5d68#diff-f7d5d68455a127a569820bd8b8829a0a):

* rewording of the Resources section
* space removal
* new section "Use domain specific resource names".

In the [

[2016-04-26 17:51] ePaul opened #47 "Review for HTTP section"
*(This is a part of #41, see there for an overview.)*

Commit a68803b1 [changed these things in the HTTP section](https://github.com/zalando/restful-api-guidelines/commit/a68803b1ed6025d37200e8d456075488f7d51068#diff-8d6e0f72d85703dfe338d1135d48a0bf):

* added table "Redirection codes" in the "Use Meaningful HTTP Status codes" rule
* added some entries to the "Client side error codes" rule
* addin

[2016-04-26 17:54] ePaul commented on #47
Obviously, the second table "Client side error codes" needs to be renamed to "Server side error codes".

[2016-04-26 18:02] ePaul opened #48 "Review for Hypermedia section"
*(This is a part of #41, see there for an overview.)*

Commit a68803b1 [changed these things in the Hypermedia section](https://github.com/zalando/restful-api-guidelines/commit/a68803b1ed6025d37200e8d456075488f7d51068?short_path=514a20f#diff-514a20fc7cfdb1e4b7475ae35ce98641):

* rewording in the introductory section
* changed + formatted links
* added paragraph for the "Use URIs for custom link re

[2016-04-26 18:14] ePaul opened #49 "Review for Naming section"
*(This is a part of #41, see there for an overview.)*

Commit a68803b1 [changed these things in the Naming section](https://github.com/zalando/restful-api-guidelines/commit/a68803b1ed6025d37200e8d456075488f7d51068?short_path=339ece0#diff-339ece072d9177f785c00b603253405b):

* changed clarification for "Pluralize Resource names" rule
* reword rule " Consider Using  Nested URLs When the Access Patter

[2016-04-26 18:15] ePaul commented on #28
Parent-Issue: #41.

[2016-04-26 18:20] ePaul opened #50 "Review for Pagination rule"
*(This is a part of #41, see there for an overview.)*

Commit a68803b1 [changed these things in the Pagination section](https://github.com/zalando/restful-api-guidelines/commit/a68803b1ed6025d37200e8d456075488f7d51068?short_path=dad0fe8#diff-dad0fe8d18a4af765b1911d662a3073b):

* some wording changes to "must support pagination" and "Prefer Cursor-Based Pagination, Avoid Offset-Based Pagination" ru

[2016-04-26 18:22] ePaul commented on #50
Not a change introduced by that diff, but the nested list is not valid markdown syntax (and thus looks broken both in Github and in Gitbook).

`* *` needs to be changed to a single, but more indented `*`.

[2016-04-26 18:29] ePaul opened #51 "Review for Common Data Objects"
*(This is a part of #41, see there for an overview.)*

Commit a68803b1 [changed these things in the Common Data Objects section](https://github.com/zalando/restful-api-guidelines/commit/a68803b1ed6025d37200e8d456075488f7d51068?short_path=f438b86#diff-f438b863a8a28c230aca1e0eff90af71):

* common address object:
   * wording change in introductory paragraph
   * extended description for salutation

[2016-04-26 18:37] ePaul opened #52 "Review for Common Headers"
*(This is a part of #41, see there for an overview.)*

Commit a68803b1 [changed these things in the Common Headers section](https://github.com/zalando/restful-api-guidelines/commit/a68803b1ed6025d37200e8d456075488f7d51068?short_path=3d6b00f#diff-3d6b00fa4281598f0260f98d60422e42).

(Later this was renamed to "Proprietary Headers" in #5)

* adding headers `X-Frontend-Type`, `X-Device-Type`, `X-Devic

[2016-04-26 18:45] tfrauenstein commented on #42
I think we should not mix both aspects.
a) API spec: intention of the guideline was: "explicitly define the returned errors as part of the interface spec". IMO it should be valid also for common HTTP errors.
However, a bad practise is: defining error codes in the API that are not yet returned, but look like good candidates to be returned in some future with more experience in implementation operat

[2016-04-27 09:36] tkrop commented on #51
Reviewed it and added comments to commit. Please review comments.

[2016-04-27 09:37] tkrop commented on #52
Reviewed changes and added only one comment to commit. Please review comment.

[2016-04-27 09:46] tkrop commented on #46
I reviewed the general-guidelines as well as the design-principles. Had only one comment on design-principles.

[2016-04-27 18:02] ePaul commented on #42
@tfrauenstein I'm not sure how to distinguish "error codes that are not yet returned" from "error codes that are returned" in an API first setting (i.e. before any implementation is there).

What triggered this issue was the question whether we (as API designers) need to add a '500' (internal Server error) and '503' (temporary not available) response for all operations, because one can never be ce

[2016-04-27 18:10] ePaul commented on #51
* I'll fix the "apt no" in a bundled pull request with editorial changes.
* The duplicated sentence in the problem/error object was already fixed in #3.

This

was replaced by this:

@tkrop commented:

I'm not aware of any such filter, and I guess I agree. How can we reword it to make it better?

[2016-04-27 18:29] whiskeysierra commented on #52
Can we take the chance to rename the headers to `X-UID` and `X-Tenant-ID`? (I know headers are case insensitive, but those two look just weird. It's also not consistent with `X-Device-OS`.)

[2016-04-27 18:33] ePaul commented on #46
Thanks, somehow I missed the change to "Design principles". I'm fixing the typo.

[2016-04-27 19:12] ePaul commented on #52
I guess whoever added those header names took the [Prefer Hyphenated-Pascal-Case for HTTP header Fields](http://zalando.github.io/restful-api-guidelines/naming/Naming.html#should-prefer-hyphenatedpascalcase-for-http-header-fields) rule to strictly without reading the text »Exceptions are common abbreviations like “ID.”« in it.

So yes, renaming sounds good.

[2016-04-28 08:34] fmueller opened #54 "Recommendations for links and IDs"
In last API guild meetup we decided to update guidelines on links usage in payload and ids:

- all links should be present in _links field which can also be used multiple times in one payload
- favor simple IDs if in same namespace/system otherwise think about using URNs e.g. urn:warehouse:FG-AS-123-FD

[2016-04-28 08:37] fmueller opened #55 "Rephrase HATEOAS rule"
I last API guild meetup we decided to update HATEOAS rule and discuss hypermedia aspect more, in contrast links and relationships should be used anyway - regardless of HATEOAS.

[2016-04-28 09:08] ePaul commented on #54
I think we should not pretend to use the `urn` URI scheme without actually [registering a URN namespace](https://tools.ietf.org/html/rfc3406).

[2016-04-28 09:16] whiskeysierra commented on #54
`zrn` it is then ;)

[2016-05-03 13:04] fmueller commented on #14
@ePaul Do we wanna close this issue because the html version is our main version and improving the pdf version seems to be a lot of effort.

[2016-05-03 13:13] whiskeysierra commented on #14
:+1:

[2016-05-03 14:30] fmueller commented on #45
I acknowledged specific change suggestions by @tkrop which he did as line notes.

Will you prepare a PR for this @ePaul?

[2016-05-03 14:41] fmueller commented on #49
LGTM

[2016-05-03 14:54] fmueller commented on #50
Thanks for fixing indentation. After this LGTM.

[2016-05-03 14:58] fmueller commented on #47
LGTM. We already had improvements on this section after the merge from Google doc, for instance wording of gzip compression rule.

[2016-05-03 15:04] fmueller commented on #48
LGTM. And we also had changes in this section since Google doc merge.

[2016-05-03 15:06] fmueller commented on #52
+1 for renaming the tenant header

[2016-05-03 15:11] fmueller commented on #46
Reviewed, LGTM after minor editorial fix.

[2016-05-03 15:13] fmueller commented on #54
It's more about a meaningful example which we should provide in our guidelines if we emphasize usage of URNs.

[2016-05-04 17:01] ePaul commented on #14
@whiskeysierra is this :+1: meant for my list of oddities or for @fmueller's proposal of closing the issue?

@fmueller I guess we decide to not support the PDF, but then we should make this clearer in the links in the README.

[2016-05-04 17:03] ePaul commented on #45
Yes, as soon as I find time for it.

[2016-05-04 17:05] ePaul commented on #49
Thanks, closing this issue.

[2016-05-04 17:05] #49 closed

[2016-05-04 17:07] ePaul commented on #50
Thanks, closing this issue.

[2016-05-04 17:07] #50 closed

[2016-05-04 17:09] ePaul commented on #47
Thanks, closing this issue.

[2016-05-04 17:09] #47 closed

[2016-05-04 17:12] ePaul commented on #48
Thanks. Closing now.

[2016-05-04 17:12] #48 closed

[2016-05-04 17:18] ePaul commented on #52
Just to sum up the suggestions:

* rename headers (in documentation) to use `-UID` or `-ID` instead of the Pascal-cased variants `-Uid`/`-Id`
* use an UUID instead of `Zalando-Fashion-Store` in the example for `X-Tenant-ID`.

I'll do this when I find time.

[2016-05-04 17:20] ePaul commented on #46
Thanks, closing this issue.

[2016-05-04 17:20] #46 closed

[2016-05-04 17:36] ePaul commented on #55
Related: #24.

[2016-05-09 09:45] fmueller commented on #14
Ok, I will do this @ePaul

[2016-05-09 09:46] fmueller commented on #17
I close this issue because we cannot afford more efforts on this minor design issue.

[2016-05-09 09:46] #17 closed

[2016-05-10 13:23] #14 closed

[2016-05-10 15:36] mostlymagic commented on #11
I would personally suggest that we say APIs MUST support JSON but COULD support other formats (XML, PDF, CSV etc)

[2016-05-11 09:12] fmueller commented on #11
+1 for @mostlymagic suggestion. Sure, there are use cases where you have to transfer binary data like PDF over the wire. For that, JSON as MUST and other formats as COULD sounds good.

[2016-05-11 09:19] fmueller commented on #52
Thank you @ePaul for your work on this.

[2016-05-11 09:19] #52 closed

[2016-05-11 09:27] #45 closed

[2016-05-11 09:58] fmueller commented on #27
Is configured for 2 approvals, should show up on new PRs - hopefully.

[2016-05-11 12:27] whiskeysierra opened #62 "Identity: ID vs. URL vs. URN"
relates to #54

[2016-05-11 12:30] #32 closed

[2016-05-11 12:31] #35 closed

[2016-05-11 12:41] whiskeysierra commented on #42
- differentiation between technical and functional errors
- technical errors don't need to be specified (covered by frameworks, e.g. 401, 403, 406, 415. doesn't add any value to the API)
- functional problems need to be specified, that includes a 404 if a resource wasn't found (if and only if it's actually a special case)
- Should include meta information, e.g. Retry-After, problem body, etc. to h

[2016-05-11 13:51] fmueller commented on #27
Works now, problem was that teams are not yet supported by zappr. So I added every active member from the team to collaborator list.

[2016-05-11 13:51] #27 closed

[2016-05-12 12:48] ePaul commented on #51
With #53 and #64 being merged, this can be closed.

[2016-05-12 12:48] #51 closed

[2016-05-20 12:33] whiskeysierra opened #67 "Add example for embedding resources"
The current [section ](http://zalando.github.io/restful-api-guidelines/hyper-media/Hypermedia.html#should-allow-optional-embedding-of-subresources) doesn't contain a useful example. See [HAL](http://stateless.co/hal_specification.html).

[2016-05-23 09:31] fmueller opened #69 "Fix broken Gitbook build by unintended Gitbook upgrade"
The build of the Gitbook is broken due to an unintended upgrade to version 3.0.0

[2016-05-24 11:47] tfrauenstein commented on #28
created PR  #71 without hard upper limit

[2016-05-24 11:47] #28 closed

[2016-05-24 12:43] #69 closed

[2016-05-25 09:46] ePaul commented on #11
The discussion here is actually about two topics, which got mangled a bit.

Yesterday we decided to split them into two issues.
Here we want to handle the suggestion of "allow other media types than JSON". @fmueller will write a proposal of how to change the "use JSON" guideline in the data formats section.

For the point of "allow specifying object schemas in a different language than OpenAPI's o

[2016-05-25 10:22] whiskeysierra opened #72 "How to handle cases where OpenAPI is not enough?"
Related to #11

Currently we have two actual real world use cases where we use JSON Schema:
- Query API (<del>Shop</del> Search)
- Event Schema Registry (Nakadi)

We should discuss and agree on:
- When is it OK to use JSON Schema?
- What are some known shortcomings of OpenAPI that we know of (e.g. anyOf)?
- How should APIs be documented that use JSON Schema?
- How to embed JSON Schema in OpenAPI?

[2016-05-25 10:22] whiskeysierra commented on #11
See #72

[2016-05-25 10:25] whiskeysierra commented on #72
Embedding a JSON schema could look like this:

[code]

[2016-05-25 10:26] mostlymagic commented on #72
Nitpick: The Query API is part of Search (Matchmaking), not Shop

[2016-05-25 10:33] whiskeysierra commented on #72
Maybe we could have a section where we compare the same API, defined once with OpenAPI and once with OpenAPI+JSON Schema and showcase how they differ and what the benefits are.

[2016-05-27 16:56] bocytko opened #77 "Rate limiting"
I did not find any guideline for rate limiting yet. Would be nice to include this. Widely used headers include:

[code]

[2016-05-27 18:55] dehora opened #79 "Capture well-known field names in JSON Guidelines"
There are some data fields that come up again and again and it's maybe worth writing them down -

 - `id`: the identity of the object, often plugged into a url to be dereferenced.
 - `created_at`: when the object was created as a date.
 - `updated_at`: when the object was updated as a date
 - `type`: the kind of thing this object is

The `id` field name is probably easy to get consensus around. Th

[2016-05-27 19:08] whiskeysierra commented on #79
`last_modified` or `last_modified_at` are also common names for this.

[2016-05-28 21:55] ePaul commented on #79
Just as a datapoint: We (several teams in Zalando Wholesale, basically the previous Purchasing team) are often using the name `id` for internal database identifiers (which are not exposed externally, and thus don't appear in any API), and then something else like `number` or `code` for the functional identifiers (which appear in the API, and might also be shown to human users).

For the timestamps

[2016-05-29 06:51] whiskeysierra commented on #79
My team uses `created_at` and `modified_at`. We explicitly decided to **not** support the `created_by`/`modified_by` fields, since it's basically impossible (at least for us) to define what goes in there (I've seen Flow-IDs, IPs and E-Mail addresses, sometimes combinations).

[2016-05-29 06:51] whiskeysierra commented on #79
We = my team (if that wasn't clear from the context).

[2016-05-29 20:31] hjacobs commented on #79
I think that's what most of Zalando systems use traditionally (including all STUPS services), so I vote for that.

[2016-06-02 09:48] fmueller commented on #79
I don't see the advantage in providing such a guideline. What would be the intention @dehora @hjacobs @whiskeysierra @ePaul?

[2016-06-02 16:03] ePaul commented on #41
Apart from #42 all the sub-issues are now closed, so I'm closing this one too.

[2016-06-02 16:03] #41 closed

[2016-06-02 16:06] ePaul commented on #79
I guess the intention is as most of the guidelines: to make Zalando's API's look more similar ("have a common look and feel", from the introduction).

[2016-06-07 09:23] kakawait opened #82 "Which status code to use for semantic error on GET parameters"
On [Client Side Errors](http://zalando.github.io/restful-api-guidelines/http/Http.html#client-side-error-codes) you define that `422 Unprocessable Entity` should be use for *semantic errors*. Nevertheless you are limiting to `POST`, `PUT`, `DELETE`, `PATCH` *HTTP verbs*.

I understand the limitation because *request entity* is about *Headers* + *body* thus there is no sense for `GET` *HTTP verb*.

[2016-06-07 12:42] ePaul opened #84 "Guidance on custom media types needs to be reworded"
http://zalando.github.io/restful-api-guidelines/data-formats/DataFormats.html#could-use-applicationspecific-content-types

[2016-06-07 13:08] ePaul opened #85 "Explain API first vs. Agility"

[2016-06-07 13:20] ePaul opened #86 "Deprecation, Lifecycle, Usage monitoring"

[2016-06-07 13:22] #77 closed

[2016-06-09 15:18] ePaul opened #88 "Explain difference between POST and PUT for resource creation"
Several times during review I noted that API designers often think "Create = POST, Update = PUT".

The actual meaning is more like this:

* PUT means »*please put the enclosed representation at the resource mentioned by the URL*«, which will either create that resource (if it didn't exist before) or replace the resource currently there (if there was one). This should be used for creation when the

[2016-06-09 21:49] dehora commented on #88
:+1:

- I'd love to see the Location/Content-Location headers covered as well around 201, as they vary for PUT/POST, and we currently lump the behaviours in together.

- I think for POST we can say it's idiomatically used for create via a collection resource like you point out (this is absolutely the case in public APIs and is captured in older standards like AtomPub). POST is mostly problematic w

[2016-06-10 06:43] mostlymagic commented on #88
@dehora I strongly agree to the case you make for namespacing

[2016-06-13 12:12] fmueller opened #92 "Give more guidance on generation of flowId header"
From my point of view we should give a default implementation for generating the FlowId Header. Just a UUID in Java, for instance. What do you think?

[2016-06-13 12:20] ePaul commented on #92
Hmm, switch "default" to "example".

Also, I'm not sure if using code (other than JSON/YAML) in the guidelines fits. Better link to libraries made to implement this (like https://github.com/zalando/tracer).

[2016-06-13 12:26] whiskeysierra commented on #92
In theory that should work, but I'm not sure if we have some components that expect the Flow-ID in a specific format.

The algorithm looks like [this](https://github.com/zalando/tracer/blob/master/tracer-core/src/main/java/org/zalando/tracer/FlowIDGenerator.java):

[code]

But I agree with @ePaul, we shouldn't include code directly.

[2016-06-13 12:36] fmueller commented on #92
Ok, right. I was just thinking about making it more clear for readers because we were approached several times during last weeks what FlowId is and how it should be handled or generated.

[2016-06-13 12:48] ePaul commented on #92
@whiskeysierra I think we should make it a priority to find out which legacy systems actually depend on this format, and then push to change them to have a more flexible view, allowing to use a UUID (or also some user-formatted strings) directly. (I'm thinking about Exception-Monitor, EventLog, etc. Hopefully the more modern tools like Nakadi and AppDynamics already support other formats.)

In man

[2016-06-13 12:55] whiskeysierra commented on #92
That sounds promising.

My fear are systems that persist them with a specific length, e.g. SAP:

[2016-06-20 11:37] fmueller opened #93 "Keep event guidelines in sync with updates in other sections"
At least the enumeration in http://zalando.github.io/restful-api-guidelines/events/events.html#must-event-payloads-must-be-defined-in-accordance-with-the-overall-guidelines is out of sync with our current HATEOAS rules. We need to check this with other rules as well.

[2016-06-21 11:35] tkrop commented on #79
I would not provide such detailed guidelines. We should try to focus our guidelines to the aspects that are most important. I have the feeling the guidelines are already starting to be to detailed for joe average.

[2016-06-21 11:44] tkrop commented on #92
I have the feeling this is more a platform than an API aspect. FlowIDs, BusinessProcess IDs etc. are a cross cutting concern that goes far beyond what should be defined in an API. May be we should not define such thing in this guidelines but in a platform guideline. I'm not even sure whether it should be required to be defined explicitly in the API, as this would ad unnecessary noise for reading/r

[2016-06-21 11:53] tkrop commented on #86
I think we should provide guidelines for deprecation and lifecycle. Usage monitoring is an important aspect of being able to manage lifecycles, but it is more a question of tooling than guidlines.

[2016-06-21 13:49] ePaul commented on #92
We just talked about this in the meeting.

We want to define this:

* A flow ID uniquely identifies a flow through the system.
* It should be a string consisting of just printable ASCII characters (i.e. without whitespace).
* If a legacy subsystem can only work with flow-ids of a specific format, it needs to define this in its API, or make its own ones.

[2016-06-22 09:27] tkrop commented on #82
I would still return 400 for 2. and 3. as it is detectable in an initial validation process that the url has not the required characteristics, and the client should have known this in advance. The subtle difference between semantic and synthax does not really add additional value for the client here.

[2016-06-22 09:28] tkrop commented on #86
See #91

[2016-06-22 22:27] fmueller commented on #93
@dehora As 'owner' of event section, can you please take a look at this? Maybe simply linking the referenced sections would be enough. Thank you :)

[2016-06-28 09:57] #55 closed

[2016-06-28 10:00] fmueller commented on #79
After discussing this with several devs, I think we should add this to the guidelines for the sake of 'same look-and-feel' of our APIs.

@dehora Would you like to prepare a PR for JSON sections?

[2016-06-28 10:17] fmueller commented on #85
From my meeting notes:

API First, Radical Agility: Talk to clients and peers, get feedback as fast as possible, team autonomy ends where teams meet and that’s APIs, at least API review before in production

[2016-06-28 20:26] #24 closed

[2016-06-28 20:26] #54 closed

[2016-07-05 12:39] #11 closed

[2016-07-05 13:02] zal-cwolters opened #101 "Failed state: enforce the usage of these two models: idempotent operation or do&undo"
**About managing the failed state.**

In our distributed micro service world:

whenever a data point is created or manipulated a subsequent operation (on a different service) may fail and therefore invalidates the initial creation or manipulation of data.

Depending on the action, there should be the possibility to undo a previous action to get back into a clean state and allow a retry of the whol

[2016-07-05 13:17] fmueller opened #102 "Improve rule headlines"
Headline of each rule should express rule without further explanation.

[2016-07-05 13:21] fmueller opened #103 "Check guidelines for guidance vs rules"
We want to explore if it is possible to clearly separate between the parts where we are giving rules, and the parts where we are just giving guidance (which might be followed or not).  (From the guild meeting.)

[2016-07-05 13:31] fmueller commented on #82
Decided in last API guild meeting: we propose 400 for all cases.

[2016-07-05 14:04] kakawait commented on #82
@fmueller Ok I think is best solution!

[2016-07-05 17:31] ePaul commented on #101
I'm not sure how `undo` fits into the REST paradigm with the HTTP methods.

A DELETE can only undo a POST if you managed to actually know the URL of the created resource – if you got an interrupted connection, you don't know whether the POST did succeed or not.
I also don't get while you want this just for non-idempotent methods ... you might want to undo a PUT too, right?

[2016-07-05 19:06] ePaul commented on #72
@mostlymagic Can we discuss the search API (or its JSON schema part) publicly (for a potential comparison of JSON schema and same-featured OpenAPI schema), or should we rather take an imaginary example?

[2016-07-06 07:41] kakawait commented on #82
@fmueller should we close issue?

[2016-07-06 07:44] whiskeysierra commented on #82
I'd leave this open for now, because I feel like we need to adjust the guidelines.

[2016-07-06 07:59] whiskeysierra commented on #101
I see the use case for rollbacks in general and as an API provider I'll always consider adding endpoints/operations/resources for this, if it feels natural and if it semantically makes sense. I wouldn't go so far as to enforce this on everybody, because I don't think that it's always possible or that it always makes sense. E.g. you can't cancel a parcel delivery after a certain point. Nor can you

[2016-07-06 08:58] tfrauenstein commented on #101
Agreed -- it is out of scope of REST Guidelines. Distributed (logical) transactions may not be avoidable for specific use cases. It is a complex topic and there are different ways how to handle it -- I don't think we should standardise it, and not as part of REST guideline -- might be a topic for new microservice design practises paper.

[2016-07-06 09:09] tkrop commented on #101
It might be covered by a separate micro service guideline we talked about, but than we would not be an API guideline guild any longer. But it seems as there is need for guidance here too.

[2016-07-06 09:46] tfrauenstein commented on #101
Yes, I had this new paper in mind. And it is out of scope of current API Guild purpose, but in next Guild meeting we should discuss whether we want to extend the purpose or expect it to be delivered by architecture team.

[2016-07-06 13:35] fmueller commented on #82
Yes @kakawait Thank you for your input. Based on this we realized that for our setup 422 would be over-designed and that we should stick to 400. We need to adjust the guidelines on this and make this clear.

[2016-07-11 07:48] whiskeysierra commented on #62
See slides:
- [Identity of Resources](https://docs.google.com/a/zalando.de/presentation/d/1fUiAXClrQC56EOF4mIKkuZVezVAJT6H77VRk-8SsiSc/edit?usp=sharing)
- [ZRNs](https://docs.google.com/a/zalando.de/presentation/d/17ijwoEdLXxuxCPe9AXuMRxfk44JInBkWbf_s8r_Dlw8/edit?usp=sharing)

[2016-07-18 09:13] fmueller opened #106 "Upgrade to Gitbook 3"
I think we should upgrade our used Gitbook version to version 3. It has breaking changes for us, we have to adapt some of our plugins.

By upgrading we can enjoy new features of Gitbook in future which can improve experience for readers of our guidelines.

[2016-07-22 14:47] mamund opened #112 "Xs for Collection+JSON instead of checkmarks?"
In the table accompanying the section [**Must: Use a well-defined subset of HAL**][1] you have a line for Collection+JSON with a row of Xs instead of checkmarks.

What does this table indicate and why is Cj getting the Xs? In particular what does the checkmark for the "docs" column represent? Is there something that you find missing on the "doc" front that might change this status?

[1]: http://za

[2016-07-25 07:52] hjacobs commented on #112
@mamund thanks for filing the question, I pinged our Zalando API guild (as I can't answer this myself) :smirk:

[2016-07-25 10:40] whiskeysierra commented on #112
I can't remember why we decided for the X in the docs column, to be honest. In retrospect I think that's an error and we should change that. I would stick with the decisions for Simplicity and Compatibility. Adoption is hard to judge, I only find comments in blogs (see links in the guidelines) and not really much more. It just doesn't produce the same buzz as e.g. HAL.

[2016-07-25 12:43] ePaul opened #113 "Add Github link to HTML documents"
As recently noted by @akauppi, the [generated guideline docs](http://zalando.github.io/restful-api-guidelines/index.html) have no link to this repository, so for people outside of Zalando's API guild (both in Zalando and from outside) it is not easy to find out how to provide feedback and/or improvement requests.

We should add such a link. Either something like the standard "fork me on Github" co

[2016-07-25 13:27] tfrauenstein commented on #112
👍

[2016-07-26 09:52] bocytko opened #114 "POST & CRUD services"
I have seen attempts to implement idempotency with POST for simple CRUD services. Would be nice if the guidelines are more clear on this use case. An approach for handling ids should be suggested for services that would like to manage their own number ranges for ids (like another endpoint for id generation).

[POST](http://zalando.github.io/restful-api-guidelines/http/Http.html#post) could also me

[2016-07-26 13:35] whiskeysierra commented on #114
One question in regards to this that I still haven't found an answer for:
Assuming that we leave id generation to the clients, how does a client distinguishes between the two reasons when a `PUT` + `If-None-Match *` (only apply the change if the resource doesn't exist yet) request failed because the resource already exists:

1. Because the client retried an earlier, failed request (e.g. timeout)
2

[2016-07-26 14:10] ePaul commented on #114
@whiskeysierra requesting the resource with GET and see if it's the one we want?

But generally, ID-generation by clients does only work reliably if either

* there is just one client (or one entity generating IDs), or
* there is some namespacing going on, i.e. each client generates its IDs in a way that they don't conflict with each other (which could be enforced by the server, or just rely on co

[2016-07-26 21:38] bocytko commented on #114
@whiskeysierra wouldn't the entity owner be enough to distinguish both cases?

@ePaul

IMHO it's too restrictive. Today there is one client, tomorrow we have more.

Ideally, clients manage their own namespace and the system uses a compound key (tenant_id, id) to identify generated entities.

If the backend is using global IDs (and is not multi-tenant), then clients should use UUIDs as client-gener

[2016-07-27 07:19] whiskeysierra commented on #114
Can you elaborate?

[2016-07-27 07:24] tkrop commented on #114
@bocytko Willi and I have talked a lot about this topic before deciding about a first approach for the customs API. We agreed, that the problem is the question how to manage the id-space as @ePaul  mentioned.

In my opinion any approach to explain customers, how they are responsible for correct ID creation or supporting calls via GET is difficult and leads to a number of possible failure scenarios

[2016-07-27 08:18] tkrop commented on #112
@mamund Would a `-`  be easier to understand?

[2016-07-27 10:12] bocytko commented on #114
For support of foreign ids, you can offer:

- `PUT /entities/{tenant}/{foreign-id}` (+GET) - foreign id can be a uuid (but it's not required).
- `/entities/{id}` - for global access / uuid must be used if creation via PUT is required.

You can skip the latter if you don't need globally unique ids.

My argument is about `POST + 409`.
`POST` does not guarantee idempotency and always creates new enti

[2016-07-27 11:03] whiskeysierra commented on #114
How do you differentiate between 201 retry and 409 reused?

[2016-07-27 14:26] bocytko commented on #114
Two calls with same id, but different content (entities differ from each other).

[2016-07-27 14:29] whiskeysierra commented on #114
What if it was a retry but it was already modified in between. E.g.
Timestamps added etc. That's not really straightforward to implement.

On 27 Jul 2016 16:26, "bocytko" <notifications@github.com> wrote:

[2016-07-27 16:03] mamund commented on #112
@tkrop

it's not the symbol that i asked about, but the meaning behind it. "X" or "-" on "docs" indicated something lacking, missing, low-quality, etc. and I am asking what it would take to "fix" that kind of assessment.

note that i'm not asking about "Simplicity", "Compatibility", and "Adoption" here. I get that, I think.

[2016-07-29 15:00] tkrop commented on #62
As @whiskeysierra attached the slide I open the discussion.

I would suggest to provide an explicit recommendation to favor URIs over IDs if a system has no control over the ID spaces of the parameter. To foster the use of URIs e.g. in the form of ZRNs, we should propose that micro-services should provide either way to resolve an URI for an ID and make resources available under URIs. In effect we

[2016-08-01 16:03] fmueller commented on #112
@mamund Thank you for asking about this. It seems we missed to add proper legend information. X means not sufficient for our need. For some implementations we just haven't found enough information and to not overcomplicated the comparison, we've decided to also add X in this case.

We should provide more explanation what the rating means and how it was generated. Tomorrow is our internal guild mee

[2016-08-02 12:36] fmueller commented on #72
In guild meeting we've decided to leave the decision up to api developers and we expect that it's clear those extensions in api definition have to be documented anyway.

[2016-08-02 12:36] #72 closed

[2016-08-02 12:39] #86 closed

[2016-08-02 12:55] fmueller commented on #88
We've decided in guild meeting to explain in more detail what POST and PUT operations are, how these http verbs can be used and what the trade-offs are to give more guidance for teams.

[2016-08-02 12:59] fmueller commented on #101
Will be discussed in some kind of Microservice patterns guidelines.

[2016-08-02 12:59] #101 closed

[2016-08-03 13:22] #112 closed

[2016-08-03 16:02] dehora opened #116 "Clarify use of X-Total-Count"
In ["Could: Use Pagination Links Where Applicable"](http://zalando.github.io/restful-api-guidelines/pagination/Pagination.html#could-use-pagination-links-where-applicable), `X-Total-Count` is mentioned as an option for describing result count.

In JSON (which is the required media type), it's not necessary to ask clients to look in a header when a total count field can be added to the result entit

[2016-08-03 16:10] ePaul commented on #116
I think you are right here. When we deprecated links in headers, we should have also deprecated this total count in headers.

Of course, when deciding whether to include such a total count at all in your API design, you should consider the performance implications (i.e. your database might need to have a look at all candidate items in order to count them, depending on filter criteria) and whether

[2016-08-03 16:20] dehora commented on #116
Absolutely agree; I've seen this a number of times :) Perhaps it could be added as an aside to the guidelines.

[2016-08-04 14:59] #42 closed

[2016-08-08 14:14] dehora opened #117 "Prefer objects for results/lists"
With Open API, there's two basic ways to return a list of items

- arrays
- objects

Both are common use for APIs defined against these guidelines in Zalando.

I think it's worth recommending against array based responses and preferring object results. The main reason is that arrays design out extensibility, which is counter to the general principles. There's no way to extend an array with extra i

[2016-08-08 19:51] dehora opened #118 "Clarify use of Location and Content-Location for PUT/POST methods"
HTTP does not make understanding the use Location and Content-Location easy. You have to bounce around RFCs, reason about combinations of response codes and methods, and generally tie a bunch of stuff together. We touch on this in a few places, but it's not clear the guidance is making things easy to understand as it could. For example, http://zalando.github.io/restful-api-guidelines/http/Http.htm

[2016-08-08 20:27] fmueller commented on #117
We already mention this implicitly in our pagination chapter.

+1 for an explicit recommendation in our guidelines. It's also kinda mandatory when we think about our favoring of backward compatible changes in contrast to versioning: only with surrounding object one can add new fields.

[2016-08-09 09:35] dehora opened #119 "Recommend against enums"
We cover Open API enums in a few places, notably here: http://zalando.github.io/restful-api-guidelines/compatibility/Compatibility.html

This is great and is accurate, but I see enums consistently in APIs based on the guidelines that are not closed sets. I think we need to recommend against using `enum` as top level guidance and not just describe the pitfalls in a general section. The `x-extensibl

[2016-08-09 09:38] whiskeysierra commented on #119
I absolutely agree! :+1:

[2016-08-09 12:51] fmueller commented on #118
Good points. I'm also often confused about Content-Location and Location header. To be honest, I personally think that we overdo it in our guidelines with this specific header and its semantic. I mean I'm not aware of any service oder load balancer so far which is using the semantic of Content-Location header to cache responses of POST requests.

And for this reason I propose the following:
- Make

[2016-08-12 11:32] akauppi opened #120 "Section "Use Common Error Return Objects" is difficult to understand"
https://github.com/zalando/restful-api-guidelines/blob/master/common-data-objects/CommonDataObjects.md#-bookmust--use-common-error-return-objects

I know the background of how this came to be. But currently, the text is unnecessarily hard for a developer to get right. We should aim at better.

Some concerns:
- the title says "must" but the first sentence says "should" (this is actually correct, si

[2016-08-12 11:48] akauppi commented on #120
Actually, `type` is optional in 7807:

[2016-08-12 14:22] ePaul commented on #120
I think having an example Swagger definition there is useful, so people can copy it in their APIs instead of copying it from another API, or having to invent it themselves from the description.
Of course, it should be updated to match the text (and the RFC).

[2016-08-12 14:32] ePaul commented on #120
About the `type`, RFC 7807 was changed compared to the earlier RFC so now you only should include a type if it adds more information compared to the HTTP status code itself. This means there is no point in using `http://httpstatus.es/...`, instead leave it blank (don't include the item). I think this is a good idea in general.

[2016-08-15 12:45] akauppi commented on #120
Would someone like to team with me to create a PR about these things, during this or next week?

[2016-08-15 13:11] ePaul commented on #120
I'm in BMO tomorrow after the API guild meeting, we could meet then.

[2016-08-16 12:19] ePaul commented on #84
@fmueller do you remember what this was about? If so, feel free to reopen.

[2016-08-16 12:34] ePaul commented on #103
During the API Guild meeting we decided we don't actually see a reason for doing this.

[2016-08-16 12:34] #103 closed

[2016-08-16 12:41] ePaul commented on #114
POST vs. PUT will be clarified with #88, more guidance will be in a separate Micro Service Guidelines document (first draft will be done by Christoph).

[2016-08-16 12:41] #114 closed

[2016-08-16 12:51] ePaul commented on #116
During the API Guild meeting we agreed this is a good idea.
@dehora, could you submit a pull request?

[2016-08-16 13:16] ePaul commented on #119
In the API guild meeting we agreed to put a guideline into the JSON section, and refer to it from the Compatibility section.

[2016-08-18 10:27] whiskeysierra opened #124 "Experience report with JSON Merge Patch and JSON Patch"
Our guidelines have a section about [how to use the PATCH operation](http://zalando.github.io/restful-api-guidelines/http/Http.html#patch) and it basically has the following list of preferences:

1. PUT
2. JSON Merge Patch
3. JSON Patch
4. POST

I wanted to express my first experiences with this after implementing PATCH in a recent API. The specialty was (and is) that our resource is particularly

[2016-08-19 08:27] ePaul commented on #124
Just a question from the implementation point of view: Did you apply the patch to a full representation of the object which then was stored back into the database (i.e. load object, apply patch, store object), or did you apply the changes just to the parts which actually were affected?

[2016-08-19 09:37] whiskeysierra commented on #124
Yes, including retries because we use optimistic locking.

[2016-08-19 11:00] #82 closed

[2016-08-19 16:34] tfrauenstein commented on #124
@whiskeysierra thx. for this experience sharing.
I was not aware that JSON Patch does not support patching of array elements -- this is a mayor restriction.
Yes, for the time being, I also see no need for changing the guideline.
However, adding a hint would be great:  in your scenario of updating single objects in large collection JSON Patch is the right choice due to high payload volume and JSON

[2016-08-23 12:28] codekultur commented on #117
Created a PR for this: https://github.com/zalando/restful-api-guidelines/pull/126

[2016-08-23 13:20] dehora opened #127 "Provide guidelines on batch/bulk requests and 207"
WebDAV's 207 response code comes up from time to time and there's no specific guidance on using it, or not using it. More generally the guidelines don't cover idioms for batch requests. It would be worth looking at this area as bulk/batch processing is a common case. Even clearing up API terminology would be useful - "batch" in the industry is used to describe multiple http requests send inside a

[2016-08-24 10:06] pc-alves opened #128 "Include Pick Up Points in address object"
For some delivery cases, addresses need to be enriched with some data that identifies a Pick Up Point. A location where the receiver can pick up his or her parcel. Think of packstations, and similar services in other countries.
I believe that this is a common enough use case to be included in the API guidelines. My suggestion is to have a separate optional object included in the address object.

[2016-08-24 11:20] whiskeysierra commented on #128
If you think in terms of *delivery address*, then yes. But not every address is for delivering something. We have e.g. billing addresses. But I see the point since eCommerce has a big emphasis on delivering stuff to the customer.

Which is pretty much what we have in one of our internal APIs. It looks like this:

[code]

I strongly believe that this shouldn't make its way into our guidelines as th

[2016-08-24 12:58] pc-alves commented on #128
I disagree that pick up points are too specific, but I understand why you wouldn't like to have it in the definition of the Address Fields. But it would make for a nice example of "_compatible extend it if necessary for your API concerns_". This is mostly where I was aiming at. That and raising the discussion.

I used Packstation as a mere example of a pick up point. And regarding the use of Stree

[2016-08-24 13:48] whiskeysierra commented on #128
The DHL which I'd consider the authority in that case defined it like that. It shouldn't be our decision to overrule that, not easily at least.

[2016-08-24 14:11] pc-alves commented on #128
I feel we are going in the direction of Packstation input, instead of the topic of this issue. I used Packstation as a mere example of a Pick up point, and that was it.

Even my comment on the reuse of fields goes in the direction of having a separate object/field that clearly represents an extra property of an address. My argument for having it in the Guidelines is because I see it as a fairly co

[2016-08-25 13:11] dehora opened #129 "Prefer functional names in oauth scopes"
Not infrequently, oauth scopes are defined using a leading team name or a project name:
- `"myteam.content.read"`

We should prefer to have scopes organised around a bounded context eg "sales", or a domain function, eg "cart". A product/service name if it exists, is preferable to a project name (eg "grpc" the product name is better than "stubby" the internal project name). This doesn't affect auth

[2016-08-25 13:23] whiskeysierra commented on #129
I wholeheartedly agree!

[2016-08-25 13:58] ePaul commented on #129
Is this about the [Define and Assign Access Rights (Scopes)](http://zalando.github.io/restful-api-guidelines/security/Security.html#must-define-and-assign-access-rights-scopes) rule?

I did understand that our current solution with Yourturn just allows application name as the "thing before the dot"?

[2016-08-25 14:12] codekultur commented on #129
I'm currently working on a concept for authentication and authorisation in the platform, that affects naming permissions as well. I would like to share and discuss my idea for naming permissions in the next guild meeting with you (idea so far is, that permissions are modelled around bounded contexts, but would like to introduce some more changes as well).

I'm still not sure, if the permission nam

[2016-08-26 08:17] ePaul commented on #129
The whole guidelines are made for Zalando. Whoever wants to adopt them will need to see what applies to them anyways (and likely would have a fork to not be surprised by changes), so I wouldn't see this as a blocker.

On the other hand, one can question whether this actually belongs into **API** guidelines or somewhere else.

[2016-08-30 11:54] whiskeysierra commented on #62
[code]

[2016-08-30 11:54] whiskeysierra commented on #62
Maybe resource-type and id can be combined into one.

[2016-08-30 11:57] bocytko opened #132 "Recommend functional names"
I will touch a very sensitive topic: service names. IMHO we should advise naming services that implement APIs to be with their name as close as possible to the API name itself.

I'm observing a high number of services with names that are more or less random (hero names, chemical elements, ...). Such names make it very difficult to understand the architecture of a system or even parts of it. It's a

[2016-08-30 12:01] ePaul commented on #132
I guess this could go into the "Naming" section.

[2016-08-30 12:03] codekultur commented on #132
I think we should discuss this together with the naming of permissions-topic, as they might relate - both should be modelled around bounded context names IMHO.

[2016-08-30 12:53] #117 closed

[2016-08-30 13:27] ePaul commented on #129
Related: #132.

[2016-08-30 14:11] ePaul commented on #128
Discussed in the API guild meeting:

The problem with pickup points is that every such service is different, and needs different information. Also, several kinds of addresses (like warehouse addresses, business partner addresses) don't need this information at all.

As such, we think it should not be defined in the basic address object given in the guideline – you can always extend the object in y

[2016-08-30 14:11] #128 closed

[2016-08-30 14:26] tkrop commented on #62
I suggest to restrict the space for identifiers to `[a-z0-9-.]+` to allow un-encoded use of ZRNs in URL. The only time where I have seen other characters in IDs is the impractical case of URLs as IDs.

[code]

[2016-08-30 14:39] whiskeysierra commented on #62
What about `:`?

[2016-08-30 14:45] jhorstmann commented on #62
@whiskeysierra can you summarize again the exact problem that zrn is supposed to solve?

[2016-08-30 14:49] whiskeysierra commented on #62
It should solve the problem of distributed identities, i.e. systems that have conflicting id spaces. As an example you're offering *Fulfillment as a Service* and one of your input parameters is a sales order number, something that uniquely identifies something in another system. If you're dealing with many different systems those IDs are not unique anymore, so you need namespaces for them (`zrn:<s

[2016-08-30 15:45] jhorstmann commented on #62
I would argue that system-id and resource id should then be separate fields in apis. What's the benefit of encoding them into one string? I also think the resource type is nearly always known implicitly and there is no need to repeat it, like in `{"order_number": "zrn:zalando:order:1234"}`.

[2016-08-30 16:23] whiskeysierra commented on #62
Self-contained, primitive value, I guess?

I'd expect this for a sales order:

[code]

And something like this for a fulfillment order:

[code]

Or `sales_order` or `sales_order_id` or `sales_order_ref`...?

[2016-08-30 16:28] whiskeysierra commented on #92
The eventlog will truncate flow ids to 22 characters, as of today.

[2016-08-30 16:33] tkrop commented on #62
@whiskeysierra Possible, but why? Being restrictive has advantages when reading and validating ZRNs.

@jhorstmann this is implicitly known assumption is exactly what breaks you the neck when moving from an internal service to an public available service.

[2016-08-30 19:20] jhorstmann commented on #62
That's only a benefit if I never have to take this value apart. I would assume that different services are responsible for sales or fulfillment orders, so in order to get more information about the order I would have to look inside the zrn anyway. And if there would a facade that I could call with both types of zrn, I would assume that the response schema would be slightly different and I still ne

[2016-08-31 07:46] tkrop commented on #62
@jhorstmann I think the point is, that `order_number` is now the wrong term. I should now be called `order_uri`. Besides, the important part is that all platform services should refer to all necessary externally referencable resources by their URIs, going so far that services should accept/expect URIs even in their path segments.

[2016-08-31 09:16] jhorstmann commented on #62
Looking at [Willi's example for a fulfillment order](https://github.com/zalando/restful-api-guidelines/issues/62#issuecomment-243496348) again made it a bit clearer. I like that using urn instead of uri makes it clear that the value is not directly resolvable, and resolution has to go through some catalog (in the xml sense).

What would be required for this to work though, would be a central defin

[2016-08-31 10:05] ePaul commented on #62
The point of using those resource names instead of URLs is when you don't need to resolve them, but just need it to compare/group other resources referring to them.

Yes, for this schema to work we need a registry of the "system ids" (i.e. "zalando", "notebooksbilliger" – though maybe we could use just a domain name here?), and for the zalando system we would need a registry of the resource types

[2016-08-31 12:49] tkrop commented on #62
@jhorstmann I known, this is an academic discussion, but URN is the outdated concept name for URI. Personally, I find URN(ame) less suitable than URI(dentifier), as the first does not express the unique constraint as the second.

@ePaul  even if we use URIs instead of URL to express that resources cannot be resolved directly, it would still be possible to have a protocol implementation for the sch

[2016-09-01 06:04] whiskeysierra commented on #62
In theory we have this with yourturn already, it's even called *Resource Types*. We only use it for OAuth right now, but that doesn't need to stay like that.

[2016-09-01 06:05] whiskeysierra commented on #62
I'm not sure we need this. Services should rely on all the necessary data being passed to them, rather than that they request it on their own, I'd say.

[2016-09-01 06:07] whiskeysierra commented on #62
That's like the hungarian notation. The property name should reflect the semantic, not the data type. You wouldn't rename `created_at` to `created_at_date_time`, would you? We use a URI as an identifier, so the field should be `order_id`.

[2016-09-01 06:09] whiskeysierra commented on #62
If we'd use the `urn:<namespace>:<identifier>` scheme, we than wouldn't need to specify any constraints for our external systems (and we shouldn't care, basically). We could then focus on specifying ours:

    urn:com.zalando:sales-order:1234

Thoughts? I now for example that SAP is using URNs like that internally at some places.

[2016-09-01 07:53] tkrop commented on #62
@whiskeysierra no, the semantic of the field is definitely not an `order_number` and would thus be totally misleading. I have no problem to refer to a resource just by `order` because the remaining context is implicitly given by the context, but as long as I attach something that refers to the type, it should consequently be the real used type, e.g. `uri` or `ref` or even may be `id`/`uid`.

[2016-09-01 07:59] whiskeysierra commented on #62
My argument was not *in favor* or `order_number`, but rather *against* `order_uri`.

Exactly why my suggested was:

[2016-09-01 09:47] jhorstmann commented on #62
This should also be part of the guidelines on its own n case it isn't already, or be part of the rationale for zrn.

[2016-09-01 14:16] tlossen commented on #102
fixed

[2016-09-01 14:16] #102 closed

[2016-09-05 14:39] ePaul commented on #118
@dehora I think the intended meaning of "Responses to the PUT method are not cacheable." is something like this (wording mine):

(This is the same for other modifying methods like DELETE and POST.)

The Content-Location explanation says that you **can** cache the response to a PUT/POST for using it as a **GET** response to the indicated resource.

[2016-09-06 13:48] #88 closed

[2016-09-06 13:48] #124 closed

[2016-09-07 07:59] tkrop commented on #62
Hi, I created a [document describing the background](https://docs.google.com/document/d/1GdPK8Ooja0JL-k63wg1f2D2NTB-GCSd_7Ni-7NP_jpo/edit) to support the discussion.

Thanks to @whiskeysierra, @ePaul, @heidenwolf for giving valuable feedback.

[2016-09-07 11:27] #93 closed

[2016-09-07 11:27] #79 closed

[2016-09-13 12:31] ePaul commented on #67
Discussion in the meeting:

* move this to the performance section (beside the filtering)
* remove the content type rule
* actually add the example
* still to be discussed: use HAL syntax or ad-hoc

[2016-09-13 12:36] whiskeysierra commented on #67
What's wrong with the content type?

[2016-09-13 14:57] ePaul commented on #67
One problem is that the Accept header of the request doesn't fit to the Content-Type header of the response (which makes this actually very difficult to implement).
The other point is that we don't really want custom content types anymore.

[2016-09-13 17:07] whiskeysierra commented on #67
Ok

[2016-09-16 09:32] #116 closed

[2016-09-19 14:08] fmueller commented on #67
@whiskeysierra Except for versioning, of course - but we don't wanna have one of them neither

[2016-09-26 16:28] fmueller commented on #84
What needs to be done:
- remove all custom media types in examples
- explain that we do not see any big value-add in custom media types
- only allow them for versioning (which is not wanted neither)

[2016-09-27 08:18] #119 closed

[2016-09-27 12:22] ePaul opened #139 "Change Log"
We want to have a change log section which allows to easily see what changed recently.

[2016-09-27 12:34] ePaul commented on #62
This will be tried out in some APIs. We are closing the issue for now, will be reopened for eventual guideline changes when we have more experience.

[2016-09-27 12:34] #62 closed

[2016-09-27 12:42] ePaul commented on #92
From today's meeting, mention, that:

* like every input value the flow ID needs to be verified by services before using it for logging.

[2016-09-27 12:57] ePaul commented on #120
@akauppi Do you still intend to create another pull request for this?

[2016-09-29 12:23] #67 closed

[2016-10-11 13:39] tfrauenstein commented on #85
see PR #145

[2016-10-11 13:39] #85 closed

[2016-10-13 14:55] ePaul commented on #139
We now have a [change log](http://zalando.github.io/restful-api-guidelines/changelog/Changelog.html).

[2016-10-13 14:55] #139 closed

[2016-10-14 10:49] #84 closed

[2016-10-18 08:21] whiskeysierra commented on #127
I agree. My idea would be to give some power to the clients. There might be clients who want the *any*-semantic (2xx) while other prefer *all* (4xx). How about combining this with the `Prefer` header? The best match in the standard would be [handling strict and lenient](https://tools.ietf.org/html/rfc7240#section-4.4):

[code]

[code]

[code]

[code]

What do you guys think?

[2016-10-19 19:36] ePaul commented on #127
@whiskeysierra The problem with using the `Prefer` header for that is that it is strictly meant to be just a hint, nothing the server has to obey.

[2016-10-19 19:57] whiskeysierra commented on #127
Of course. So if the client doesn't hint what he wants the server can decide. One server may choose 207 the next 500.

[2016-10-24 09:54] dehora opened #147 "Deprecate HAL"
Deprecate HAL from the guidelines and replace it with local guidance designed to work with Open API.
- since HAL has been subsetted to just links, all it effectively does is tell teams to create an object structure called `_links`. There's no real value in an underscore, we could at this point tell people to create an object called `links` and obtain the same benefits.
- HAL is unfriendly to code

[2016-10-24 10:48] whiskeysierra commented on #147
We don't forbid to use `_embedded`, do we?

Well, except that it makes us compliant with the standard.

I disagree. The first problem is the use of a code generator that you can't control. A good generator would treat the `additionalProperties` hint to generate a `Map<String, List<Link>>` (or even `Multimap<String, Link>`, if it supports e.g. Guava). It won't drop unknown relations. It's easy to i

[2016-10-24 11:26] dehora commented on #147
I've been using swagger's own code generator with defaults. With the bare structures in the guidelines it extends `HashMap<String, List>`. That's maybe tolerable, depending on whether you think extending HashMap is good design (I don't) or you're happy with the types being erased (I'm not).

Otoh if you _define_ the rel links as opposed to document them you can end up with non-extensible code:

[c

[2016-10-24 11:31] dehora commented on #147
Good question - we don't I think As an aside I wonder if `_embedded` interact properly with [Filtered](http://zalando.github.io/restful-api-guidelines/performance/Performance.html#filtered).

[2016-10-24 13:25] whiskeysierra commented on #147
That's a sign of a generator that I would not consider to be production ready. Using HashMap as a field type and raw collections is beyond smelly.

Agree, 100%. If the previous example is what the generator produces it's worth being used. Personally I don't use code generation with swagger ever, because of problems like this. And in addition I don't like that fact that it generates a complete mode

[2016-10-25 09:45] dehora commented on #147
To be clear here, we're effectively saying swagger's own generator isn't production ready.

[2016-10-25 10:01] whiskeysierra commented on #147
As long as their code generator uses `HashMap` and raw types, then **yes**. I wouldn't consider using that in production.

Yes we are. My approach is always to write the code myself in which case I (as a client) have the full control over which link relations I care about and therefore which ones I represent in code. If I use the specification as an input for a code generator and that specificatio

[2016-10-25 10:07] dehora commented on #147
Again, this isn't the point. The link relations that are not in the documentation in certain circumstances for certain API definitions that are technically correct will get dropped on the floor - the example is above. The fact that you develop in a certain way, doesn't make that vanish.

I'm not arguing against that. But in the meantime, it's possible to define link constructs that avoid the probl

[2016-10-25 10:13] whiskeysierra commented on #147
Why don't we tackle the problem there? If the API provider didn't declare the links correctly, why should clients rely on them? If everybody would declare them correctly, there wouldn't be a problem, would there?

Again, to me this is *implementation-driven interface design*. The link structure doesn't need to be fixed, the code generator does.

[2016-10-25 10:18] dehora commented on #147
@ePaul right, sounds familiarish. If we wanted to give guidance, imo it'd be worth cross-referencing with the filter section.  @whiskeysierra what do you think?

[2016-10-25 10:26] ePaul commented on #147
From my experience, using relation names as keys works quite well with code generation (using swagger-codegen), as long as you don't have overly long or complicated relation names (e.g. you don't want to have a HTTP URL as a relation name).

Of course, I must confess that I never had the need for clients to receive links with relation types they didn't know before, therefore we didn't define them

[2016-10-25 11:02] whiskeysierra commented on #147
https://github.com/zalando/restful-api-guidelines/pull/138 It's merged already.

Yes, those sections should be linked, since they both touch HAL. They sit directly next to each other though.

Which we have (or had?) as a rule.

[2016-10-25 12:15] ePaul commented on #120
@akauppi Please reopen if you still want to change anything (or simply open a pull request).

[2016-10-25 12:15] #120 closed

[2016-10-28 09:11] #113 closed

[2016-11-01 10:21] nsorger opened #149 "Anchors don't work properly"
I can't link to specific sub-sections using the anchor tag anymore.
Example:
http://zalando.github.io/restful-api-guidelines/common-data-objects/CommonDataObjects.html#must-use-common-error-return-objects doesn't bring me to the respective sub-section.

I also don't see the little "anchor" symbol next to headlines/sub headlines

[2016-11-04 09:44] fmueller commented on #147
@whiskeysierra @dehora After this long discussion, can you identify action items for guideline changes / adjustments?

[2016-11-04 18:34] ePaul commented on #147
My team had some bad experiences with HTTP URLs as relation names. I just looked into the guidelines – we didn't actually prescribe the use of URLs for custom relations, and I would recommend against this.

[2016-11-04 18:43] whiskeysierra commented on #147
Can you share some more details about your bad experience?

[2016-11-06 03:15] ePaul commented on #147
Basically, swagger-codegen created method names based on the URLs, which were (caused by a stupid choice of URL) longer than my screen width. (I can look up an example in the history of one of our projects tomorrow or on Tuesday.)
Of course, this is only a problem if you are defining the interesting link relations in your API definition, not if you hide them via `additionalProperties` (producing a

[2016-11-08 13:12] ePaul opened #152 "fix example for security definitions OAuth2 flow"

[2016-11-08 13:27] ePaul opened #153 "UUIDs versus sequential (or speaking?) IDs"
* when to use what?
* configuration data (warehouses, sales channels, ...) vs. mass data (like articles, orders, ...)
* client vs. server side ID generation

[2016-11-08 13:58] ePaul commented on #127
Discussion in our meeting:
* we look at bulk requests like groups of atomic requests, and always return 207, even if none are successful.
* 400/500 only for generic failures which happen before looking at individual items.

[2016-11-08 14:13] ePaul commented on #149
This section was renamed (http://zalando.github.io/restful-api-guidelines/common-data-objects/CommonDataObjects.html#must-use-problem-json). We should see if we can check the internal links during the build process.

But the anchor symbol missing is a new problem, likely introduced by #148. Willi will have a look at this.

[2016-11-09 09:52] whiskeysierra commented on #153
**Pros**
- distributed id management becomes easier (but **not necessarily** [simpler](https://www.infoq.com/presentations/Simple-Made-Easy))

**Cons**
- poor readability for developers (log files, etc.) and  readability/usability for end users (in case they are exposed as e.g. invoice numbers)
- length of 36 characters (by default) can at most be reduced to 23 characeters (`uuid -F BIN | base64 |

[2016-11-10 16:32] ePaul commented on #153
The main reason to use an UUID as an identifier for entities is to make sure no one else generates the same ID for a different entity (whether of same or different type).
This is reached by having a vast space of possible values, and using either good (pseudo)randomness or some namespace mechanism (time + MAC address + counter) to select values from that space.

This vast space makes the UUIDs lon

[2016-11-14 13:10] tlossen commented on #153
i think that UUID's should only be used if ID's have to be generated in a distributed (= uncoordinated) manner by multiple actors. basically, what they were invented for. in all other cases, costs (lack of readability, index-friendlyness etc.) outweigh their benefits.

or, as [richard clayton](https://rclayton.silvrback.com/do-you-really-need-a-uuid-guid) puts it:

[2016-11-19 14:45] tfrauenstein commented on #147
👍 I also agree

[2016-11-22 13:38] fmueller commented on #147
With whom @tfrauenstein? We assume you mean @codekultur

As agreed in todays guild meetup we close this issue.

[2016-11-22 13:38] #147 closed

[2016-11-22 13:42] fmueller commented on #153
As discussed in todays guild meetup we wanna form a rule out of this and place it in resources chapter.

@tlossen is in the lead

[2016-11-22 13:43] ePaul opened #154 "Document If-Match + If-None-Match for PUT"
We should mention the usage of conditional requests for updates/creates, to avoid the lost update problem.

* `If-None-Match: *` when creating a resource with PUT makes sure you don't overwrite a resource created by someone else without noting.
* `If-Match: ...` when updating a resource with PUT (or PATCH) makes sure you don't overwrite changes by someone else without noting.

[2016-11-22 13:43] ePaul commented on #154
@whiskeysierra: @tkrop suggested that you might want to write something here?

[2016-11-22 13:50] ePaul commented on #149
The missing anchor symbol is possibly caused by incompatible library upgrades, and thus could possibly be fixed by upgrading to Gitbook 3 (#106).

[2016-11-25 15:09] chridou commented on #153
UUIDs and sequential ids/numbers share an important property. They are fixed sized data types. Strings are dynamically sized and can therefore only live on the heap. This forces the CPU to do pointer chasing.

So basically an id should fixed sized. But for strings this might be quite hard to enforce(fixed number of chars and only ASCII).

But there is just more to it than the explanations given in

[2016-11-25 17:19] hjacobs commented on #153
@chridou that sounds like premature optimization, I don't think we want to optimize APIs for fixed width data types --- most of our Zalando services run on the JVM, so there is already "some" overhead. On the other hand I agree that some fixed-width "format" for the ID (application dependent) makes sense, AWS resource IDs are a good example (they all have a prefix indicating the resource type, e.g

[2016-11-25 17:44] chridou commented on #153
@hjacobs I agree that it sounds like that. On JVM it currently doesn't matter, but I heard that with Java 9 structs are planned. I think for the guidelines it is also important to point out that strings have their drawbacks and should also only be a last resort on the other side of the end: Use strings only if there is a strong need for them. So I would add something like "If ever possible choose

[2016-11-25 18:42] hjacobs commented on #153
@chridou probably you should go with GRPC instead of trying to micro-optimize JSON REST APIs :smirk:

[2016-11-25 20:41] dehora commented on #153
@chridou I'd suggest coming at this from a different angle and having a recommendation that id strings across the APIs have a maximum char length, perhaps with some wording to consider, but not require, uniform length. That allows APIs and their implementations to negotiate efficiencies like fixed-width, which might be important for some real-world scenarios (making them 64 bit to keep them cache

[2016-11-26 10:03] chridou commented on #153
@hjacobs

Good to know there are G and other companies out there that choose optimization in favour of eternal mature latency ;-)

[2016-12-04 13:45] fmueller commented on #152
fixed by #156

[2016-12-04 13:45] #152 closed

[2016-12-06 10:51] fmueller commented on #106
I close this issue as it is too much effort for now.

What I tried:
- upgrade https://github.com/zalando-incubator/gitbook-structured-toc to Gitbook 3 - works
- failed to upgrade https://github.com/zalando-incubator/gitbook-restructure-navigation to Gitbook 3
- failed to upgrade some other plugins as well

[2016-12-06 10:51] #106 closed

[2016-12-06 11:23] whiskeysierra commented on #106
:cry: It won't get less difficult over time, will it?

[2016-12-06 12:06] fmueller commented on #106
@whiskeysierra It does not add any value to have Gitbook 3. I really would like to have the newest major version, but it seems we do not have a problem with latest 2.x.x version.

[2016-12-06 13:30] ePaul commented on #106
Discussion in the guild meeting: Stay at 2.x.x for now, rediscuss it when we get a requirement which needs Gitbook 3.

[2016-12-06 14:03] ePaul commented on #118
Discussion in Guild meeting: it looks like Content-Location is seldom useful, thus we should avoid it at all.
→ reword the guideline to this goal.

[2016-12-06 14:09] ePaul commented on #127
Asynchronous requests are not covered by this, and might be preferred.

[2016-12-09 09:42] fmueller commented on #149
They still don't work. I investigate.

[2016-12-09 10:40] dehora opened #161 "Consider use of RESTful term in the guidelines"
The guidelines lead with term RESTful, and while there are some use of the constraints, use of hypermedia in particular is limited (mostly to drive pagination).

They guidelines don't argue against REST, but nor do they advocate strongly for example, for content models that use a state machine driven approach, where transitions are performed by clients working with document links.

It's arguable t

[2016-12-09 10:45] hjacobs commented on #161
Linking the trigger of this: https://twitter.com/stilkov/status/806979435429773312 :smirk:

[2016-12-09 10:46] hjacobs commented on #161
Still waiting for an answer to https://twitter.com/ebowman/status/807154435755536384 ...

[2016-12-09 15:48] mohabusama commented on #161
The reply: https://twitter.com/stilkov/status/807219063185408000

Github API,, of course :)

[2016-12-09 15:55] whiskeysierra commented on #161
Totally disagree. They just provide links for reading. There is not state changed initiated through links.

[2016-12-22 13:55] dcherepovsky opened #163 "Security definitions example and guideline is not compatible with Swagger definition"
https://github.com/zalando/restful-api-guidelines/blob/master/security/Security.md#-bookmust--secure-endpoints-with-oauth-20

`flow: password` shouldn't be used with `authorizationUrl`. It should be used with `tokenUrl`. Swagger definitions which follow current guideline are automatically invalid.

[2016-12-22 14:24] hjacobs commented on #163
@dcherepovsky good point!

[2016-12-29 16:57] tfrauenstein opened #164 "How our "compatible extensibility" and "robustness principle" apply to OpenAPI / JSON Schema additionalProperties usage?"
Open API is not clear about usage / pragmatics of JSON scheme additionalProperties feature. We should make some clarifying statements on how our compatible extensibility and robustness principle (for clients and servers) maps to this keywords.

For instance, If additionalProperties is false for return data, its structure cannot be extended in future.
Seems to contradict the robustness principle fo

[2016-12-29 17:00] tfrauenstein opened #165 "Refinement of "ignore unknown fields" guideline"
We currently have the general rule "Should: Prefer Compatible Extensions" and the more client specific rule "Must: Prepare Clients for Compatible API Extensions (the Robustness Principle)".
Both are partially overlapping -- I think we should specialise the first to be server specific and avoid redundancies and even inconsistencies.

For the server side, I'm not sure whether here robustness princip

[2016-12-30 13:01] rcillo commented on #164
@tfrauenstein I believe this is a problem only for plain json-schema, not for OpenAPI.

OpenAPI accepts only objects as valid values for `additionalProperties`. This is clarified in this related issue https://github.com/OAI/OpenAPI-Specification/issues/668 since this constraint is not explicitly written in the OpenAPI spec.

That said, `additionalProperties` false/true are not valid when using Ope

[2017-01-03 13:29] fmueller opened #167 "Does the rule Avoid JavaScript Keywords make sense?"
What was the reasoning behind the rule [Reserved JavaScript keywords should be avoided](http://zalando.github.io/restful-api-guidelines/json-guidelines/JsonGuidelines.html#should-reserved-javascript-keywords-should-be-avoided) in our API guidelines?

@dehora Can you follow up with more explanation regarding *security and sanity reasons*?

[2017-01-03 13:45] fmueller opened #168 "Add recommendation for mitigating guideline changes"
Add chapter for guideline changes and how teams should respond to it:

- existing APIs don't have to be changed, but we recommend it
- clients of existing APIs have to cope  with these APIs based on 'old guidelines'
- new APIs have to respect the current guidelines

Furthermore: once an API becomes public external available, it has to be re-reviewed and changed according to current guidelines - fo

[2017-01-03 14:43] codekultur commented on #163
Fixed with https://github.com/zalando/restful-api-guidelines/pull/166

[2017-01-03 14:43] #163 closed

[2017-01-03 15:03] tfrauenstein commented on #165
short summary what we discussed today in Guild meeting:
- client and server view must be clearly segregated
- clients must ignore unknown fields in servers output data
- when server ignores unknown fields in its input data then it has the following effects:
  - PUT and GET may not be symmetric, unknown fields can be ignored by PUT will not be visible subsequent in GET output
  - certain client err

[2017-01-04 08:57] fmueller commented on #153
I close this, @tlossen, as we already merged your PR for this.

[2017-01-04 08:57] #153 closed

[2017-01-04 15:16] tfrauenstein commented on #161
I personally think this discussion is rather academic and provides no value for us. However, I propose to complement our guidelines with the footnote that we stick to usage of the term for our REST approximations (like the very industry majority) --> see #169

[2017-01-06 15:06] BGehrels opened #170 "Recommend use of commutative events"
Designing a resilient and fail safe event based architecture is hard when you are relying on implicit event ordering assumptions.

As an event sender, you will be forced to send events in the order they occurred. If you are unable to send one event (for example due to an illegal null field in your payload), your only option is to stop sending events completely, let an engineer fix that one event,

[2017-01-06 15:19] codekultur commented on #170
I totally agree with your points and would add one more: Relying on the order in the transport layer makes it hard to dynamically scale your application. You can only have one thread reading from the queue and one thread sending to the queue if you like to keep the order.
Of course you could use sharding and keep the order per shard (if this is possible within your problem domain) to scale up, but

[2017-01-09 11:01] fmueller opened #171 "Permission of Events should correspond to API Permissions"
We already state in our guidelines that events should correspond to API design principles, should be review and should be aligned with business entities exposed via the restful API. There is also a paragraph about permissions and that they will be introduced via Nakadi. (see http://zalando.github.io/restful-api-guidelines/events/events.html)

I think we should also point out more clearly that even

[2017-01-12 10:17] whiskeysierra commented on #165
Why?

[2017-01-12 10:40] matozoid opened #175 "Publish an epub"
If there is an option to export an epub somewhere, please turn it on. This way I could throw it on my ereader and read through the whole book comfortably.

[2017-01-12 10:52] fmueller commented on #175
Very good point. Because we have some custom plugins, it can be hard to enable this in the build (like with PDF). But I try it.

[2017-01-12 12:11] fmueller commented on #165
For this case @whiskeysierra, do you mean server should recognise typing errors in field names?

[2017-01-12 12:19] whiskeysierra commented on #165
I understand *typing errors* as using the correct field name but the wrong data type. Are you talking about typos in the field names?

[2017-01-12 12:27] tfrauenstein commented on #165
yes, I mean "field name typing errors" -- server cannot differ between client intensional provided additional field vs. client field name typing error where he intensionally wanted to provide an optional input field.

[2017-01-12 12:32] whiskeysierra commented on #165
OK, got it.

[2017-01-15 20:45] valgog commented on #170
@BGehrels I would love to get more details on your use cases. Let's meet and discuss these use-cases. Especially the ones that do not need ordering.

[2017-01-15 20:48] valgog commented on #170
@codekultur Solving the problem of reordering on the application level could be quite a difficult task, depending on the limitations you have. If ordering *is* a retirement, one has to deal with this strong limitation. That is why it would be so important to understand what are the real use-cases and if the ordering is not important indeed.

[2017-01-16 10:21] fmueller commented on #175
@matozoid I added necessary documentation to readme (see pull request) which should enabled you to build it locally. The ePub file looks quite good. Enjoy. :-)

[2017-01-16 15:48] matozoid commented on #175
Thanks!

[2017-01-16 16:28] BGehrels commented on #170
From what i experienced in the past years, messaging clients can be somehow clustered in three categories:

# Systems that need access to the history of a resource
BI systems, audit trails and metrics collectors are common examples. For these kind of systems it is easy to reorder events. They have to maintain a persistent representation of the history anyway. Given that they do not prematurely thr

[2017-01-17 13:46] ePaul opened #177 "Mention validation logic as part of API and therefore considerable for possible breaking changes"
What happened? One team changed validation logic because it was too strict. This caused issues in writing api client user of their service. Discussion in the API guild today made clear that it was mostly missing communication between the teams.

It's an open discussion topic if we should mention in our guidelines that validations are also part of the API and should not break in a non-backward comp

[2017-01-17 14:26] ePaul commented on #171
Related: #132, #129.

[2017-01-17 14:31] #161 closed

[2017-01-17 15:29] MariaDodevska commented on #177
As we all find out the biggest challenge that came with the new microservive architecture is communication.
1) I think we should first follow the "Rules of play", but sometimes that is not enough.

2) Ideally the process of communicating API changes would be automated. Maybe PACT Testing is a solution, but maintaining them will be pretty time consuming. We can discuss on the topic and try to come

[2017-01-17 16:22] fmueller commented on #177
@MariaDodevska I added notes from our guild meeting today.

Breaking API changes are simply not allowed by our API guidelines. If they are necessary, you have to negotiate with all your clients how to make this possible (if your API is only internal and you know all of them) or introduce versioning.

I don't think that automatic mailing notifications are the way to go here as this should not happe

[2017-01-17 16:25] BGehrels opened #179 "Stop suggesting timestamps for event ordering"
In the event chapter, we suggest that

Clocks may jump forwards and backwards, two events may happen in the same microsecond, and when sending from a distributed environment, they may diverge between the systems. So relying on time as a ordering key is not a good idea.

[2017-01-17 16:48] dehora commented on #167
The sanity thing is around avoiding issues with dotted vs string notation for object properties that happen to be keywords,  Google's JSON guidelines mention dot notation for example as a reason to avoid javascript keywords. Otherwise it was to be paranoid about lifting json into executable javascript Not having javascript keywords in the data mitigates this. Now, it's possible this is simply not

[2017-01-17 16:50] dehora commented on #177
@MariaDodevska @ePaul @fmueller can you be specific about what a "validation logic"  change is in this case?

[2017-01-17 17:06] hjacobs commented on #167
IMHO we should remove that guideline, I think in fact nobody actually follows it (or do you know anybody reviewing an API seeing the "class" property to mark it?).

There are some valid names for properties which are JavaScript keywords which I would rather like to use without thinking about alternatives, e.g.:

* `class`
* `default`
* `function`

[2017-01-17 17:12] fmueller commented on #177
It was about naming of DHL packetstations.

[2017-01-17 17:16] dehora commented on #164
Not quite. Because Open API removes the true/false options it's unclear what the default extension model is (in JSON Schema, it's open for extension, in Swagger and Open API it's undefined). Common sense, least surprise and the spirit of the guidelines suggests data is open for extension from HTTP APIs, but that's not a strong basis for resolving differing interpretations.

Strictly speaking they'

[2017-01-17 18:40] dehora commented on #165
👍

👍 . We'll want to clarify wording slightly - "must ignore" as intended means "must not crash", but it's ok for generic processing engines to handle generic json (ie it's not _required_ that clients drop data)

This makes sense for POST/PATCH, but PUT means replace and HTTP's pretty clear about the default roundtrip expectations [RFC7231 section 4.3.4](https://tools.ietf.org/html/rfc7231#section

[2017-01-18 09:54] tfrauenstein commented on #167
👍  let's remove it -- not primarily because API usage of these keywords so important, but...
* rule is vague -- avoid keywords in everywhere in json, i.e. in name and value strings?
* security threat is very vague -- how should specific API payload defined by specific API owner be lifted into executable code, and by whom?

AFAIK our components don't lift json into executable javascript. And if one

[2017-01-18 10:07] tfrauenstein commented on #164
👍  @dehora It would be great, if you can contribute with related concrete PR proposal, thx.

[2017-01-18 10:17] tfrauenstein commented on #177
Of course, strengthening service side validation logic is an incompatible interface change.
As we had some recent live outages with such issues, some additional hints and a guideline about "API management" could be helpful. Let's draft a PR.

[2017-01-18 14:45] #175 closed

[2017-01-18 18:43] #167 closed

[2017-02-01 09:13] codekultur commented on #165
I totally agree, that clients should ignore unknown fields.

When it comes to the server side, I think we should introduce a rule, that server should (or event must) NOT ignore unkown fields (in PUT, POST, PATCH). IMHO the server defines the API and API enhancements are driven by the server side. So I think the server should introduce new fields first, before clients are allowed to use them. API e

[2017-02-01 09:16] codekultur commented on #165
There might be one use case where the server should accept unknown fields: When the server side is a generic storage engine. But in this case the server usually makes no assumptions about the format (or semantics) of the stored data. So I would not expect that the only data type defined in the API spec is a string, that then might contain any data structure, that is opaque to the server.

[2017-02-02 09:09] tkrop commented on #127
@ePaul Thinking about this sentence, I disagree. A bulk/batch response in my opinion has always a higher priority than an asynchronous request. So if it is bulk/batch request, a response has to provide a multi-status object explaining which parts have been rejected or will be executed asynchronous.

[2017-02-02 09:29] tkrop commented on #127
While writing this guidance, I'm not sure whether I would still uphold this decision. To allow for consistent handling by clients, it would be better to return 207 even in the case of full success.

200 only makes sense, if all clients only want to inspect the individual results if failures occur. Anyhow, I would still argue, that it should not be the service to decide about this.

[2017-02-07 09:27] #118 closed

[2017-02-07 09:43] #127 closed

[2017-02-07 14:43] LappleApple commented on #132
@ePaul @codekultur @bocytko Hey, is this question still on the table ("open") or did you resolve it?

[2017-02-07 14:44] LappleApple commented on #129
@dehora @ePaul @whiskeysierra @codekultur This issue dates back to August 2016. Is it still open to discussion/unresolved?

[2017-02-07 14:51] codekultur commented on #132
We are still discussing a coherent model for naming API hosts, permissions and event names based on Zalando's product structure and functional components. As we don't want to introduce a central API gateway, but use a DNS based approach (which is then coupled in some way to AWS accounts), this is a larger topic: We must find a solution that keeps those names resilient against organisational and te

[2017-02-07 14:53] codekultur commented on #129
This issue is related with https://github.com/zalando/restful-api-guidelines/issues/132 and will be fixed together with the other issue. Still in discussions...

[2017-02-07 14:55] LappleApple commented on #129
Thank you for the fast updates, @codekultur.

[2017-02-08 10:10] tkrop opened #183 "Recommend rules for restful API to model (complete) business processes"
Recently, I observed that we get very small API definitions for review which cover only parts of business processes - or worse provide only a thin wrapper around the data base resource.  As effect the business processes and resources are distributed over many APIs creating invisible implicit dependencies, which make it hard to understand the logic of the business processes and the relation between

[2017-02-09 17:36] fmueller opened #184 "Forbid designing parameter chains in URLs"
Currently I've seen APIs with following patterns in URLs:

/resourceName/{identifier1}/{identifier2}/{identifier3} (nested identifier structure, not nested resources)

I assumed we have a rule to prohibit this but it turned out we haven't. I talked with @codekultur about this, he was surprised as he assumed the same.

I'd like to:
- decide if wanna forbid this design pattern
- find a better headli

[2017-02-14 13:21] ePaul opened #185 "new guideline: must process events in a way that tolerates duplicates"
This is a guideline for event consumers, not for the API itself.

Add some reasoning, like "at-least-once" delivery semantics.

[2017-02-14 13:35] ePaul commented on #149
Depends on Gitbook update, which breaks other things. Therefore decided not to do this now.

[2017-02-14 13:35] #149 closed

[2017-02-14 13:46] ePaul commented on #171
Discussed today: we want a MUST here, as those permissions are for data protection, not for things like load/performance considerations.

[2017-02-14 13:51] ePaul commented on #177
Important: useful error messages for business rules violations, and describe their format in the API.

[2017-02-14 14:06] ePaul commented on #184
Discussed in the meeting: This should be added as text to the "Must: Identify resources and Sub-Resources via Path Segments" rule in the resources section.

[2017-02-23 07:55] tkrop commented on #154
Added extended section under common headers and removed existing description under performance. In addition I added reference from PUT and PATCH.

@codekultur have a look to the expected status code 412. If I remember correctly, this is different from our talk, but it is what is expressed by [RFC7232](https://tools.ietf.org/html/rfc7232#section-3.1).

[2017-02-23 08:07] tkrop commented on #185
I don't understand: This rule is out of scope of an API guideline. In maximum we can add a sentence that suggests clients to react like this. We currently have to pull requests hanging that address related issues from API side. What is the expected task related to this issue? Can't we address this aspect in the pull requests?

[2017-02-23 10:45] maxim-tschumak commented on #185
I agree with you, @tkrop. I've added a comment to PR #178

[2017-02-27 10:06] fmueller commented on #185
The idea was in the meetup back then that it would be good to state this extra, how clients should act on consuming events. We have similiar rules for Restful API consumers (e.g. robustness principle).

[2017-02-27 16:13] fmueller commented on #92
@ePaul Can you please again explain why you would validate flow id before logging? Imho this would make services more brittle.

[2017-02-27 17:17] ePaul commented on #92
@fmueller This is not meant to verify that it fits to a specific format, but have a sensible maximum length (so e.g. now allow megabyte strings) and possibly throw out or escape characters/bytes which throw off your log parsing (line breaks, tabs, spaces, NULL), etc. Just basic validation as for every input you take.

[2017-02-28 09:18] fmueller commented on #92
Ok, I agree with this point and will add it to the PR.

[2017-02-28 09:35] #184 closed

[2017-02-28 10:29] maxim-tschumak commented on #185
Ok, that makes sense @femueller, let's have here also some advice for the event consumers. I'll provide a PR.

[2017-02-28 15:43] #154 closed

[2017-02-28 15:45] #170 closed

[2017-02-28 15:55] fmueller commented on #185
Btw @maxim-tschumak, you referenced the wrong Felix Müller ;-)

[2017-03-01 12:33] #92 closed

[2017-03-01 13:55] #185 closed

[2017-03-01 19:22] #168 closed

[2017-03-02 15:40] codekultur opened #197 "Describe how different access scenarios and supported token types must be documented"
As we will have APIs in the future supporting different access scenarios for Zalando APIs, APIs need to document which access scenarios and token types are supported and how authorisation works.

Current idea is to define a Swagger extension for this.

[2017-03-03 08:43] fmueller commented on #164
@dehora @tfrauenstein Is this issue already resolved with Bill's pull request?

[2017-03-03 08:59] tfrauenstein commented on #164
Yes, resolved with Treat Open API Definitions As Open For Extension By Default. #195

[2017-03-03 08:59] #164 closed

[2017-03-03 17:34] #179 closed

[2017-03-06 09:17] fmueller opened #198 "Describe that API Discovery Endpoint don't have to be secured"
Currently we are not precise how the API Discovery endpoint have or don't have to be secured.

Add following points:
- the can be both unsecured if this is suitable for given domain and product (has to be aligned with product)
- if you secure them, only use uid scope

[2017-03-06 16:11] fmueller opened #199 "Make guideline for links more liberal"
Currently we define in our guidelines to place all links in `_links` field which also has to be an array. This adds quite a lot of boilerplate to json payloads. And we separate metadata like links from actual context they are part of. We do this - I guess - for more generic client implementations. On the other hand we don't believe in generic clients which is one of our arguments against HATEOAS.

[2017-03-06 16:32] dehora commented on #199
According to [Must: Use a well-defined subset of HAL](http://zalando.github.io/restful-api-guidelines/hyper-media/Hypermedia.html#must-use-a-welldefined-subset-of-hal) and the examples there,

- it's an object:

[code]

- links can (must) live anywhere:

It sounds like you're asking for fields that can have link objects as values. What's wrong with using `_links` at any level? I'm not convinced ab

[2017-03-06 16:36] fmueller commented on #199
Sorry for misreading this. Right, _links is an object. What's the benefit of wrapping links always inside _links? I only see the 'generic client' argument here and this should not be used by us for this since we used it in past to discourage HATEOAS. You see my point?

Btw: We had a big talk in last API guild meetup about some cons of HAL.

[2017-03-06 18:06] ePaul commented on #199
Just for the record, I think a schema-aware semi-generic client (like what was presented in the last meeting – sorry that we can't share the details publicly) could use links in a HATEOASy way even if they are not in a `_links` object. (I'll have to work out whether this can be done with OpenAPI 3.0's new `links` feature or if it needs an extension.)

Our current use of `_links` already deviates f

[2017-03-07 08:20] tkrop commented on #199
The Ideas are not that difficult to share - e.g. Nokias Here Places API is public:

https://developer.here.com/rest-apis/documentation/places/topics/hypermedia-links.html
https://developer.here.com/rest-apis/documentation/places/topics_api/object-link.html

The main idea is, that not using HAL and restrict representation to `_links` enables an API to make use of a much richer set of flow controls.

[2017-03-07 14:57] #198 closed

[2017-03-07 16:29] dehora commented on #199
I don't see any value in in HAL per se, so you probably want to direct that to the guild, who agreed to close #147 and keep it around.

I think this is incidental. Well defined links make as much sense as well defined dates; but that isn't necessarily an argument for only putting links in a `_links` object.

The `_links` constraint might have been needed for HAL to work as a media type specificati

[2017-03-07 17:18] ePaul commented on #199
@whiskeysierra Do you care to comment here?

[2017-03-07 19:25] meshcalero commented on #199
@tkrop You'll find a more detailed description of the hypertext control model behind HERE's Places API at http://blog.meshcaline.org/basics/#hypertextcontrols. It differs in some details -- the doc was written long after the API launch and modified some minor aspects we would have done differently if we could have started from scratch.

@dehora I would disagree with you statement that HAL supports

[2017-03-07 20:36] dehora commented on #199
Right; I still can't see where that's disallowed in draft8 (as opposed to allowed) so it comes down to interpretation or just looking at the examples as being the spec. I suspect the problem is HAL is underspecified here.

[2017-03-14 10:56] meshcalero opened #203 "Common Data Objects: Separate Receipient from Address"
Currently the Address model covers two aspects WHO and WHERE. If you want to model recipients with multiple addresses, or add additional information about the person receiving something that has nothing to do with its address, you can't nicely do this.

If we would instead have two distinct models (e.g. Party and Address) for the two aspects we could overcome that problem.

To avoid misunderstandi

[2017-03-14 13:30] fmueller opened #204 "Make validation logic change an extra chapter"
Make added paragraph about validation logic in #191 an extra rule.

[2017-03-14 13:32] fmueller commented on #204
Related to #177

[2017-03-14 13:38] fmueller opened #205 "Design chapter about error handling"
In last weeks the API guild discussed several times that API providers should think more about design of error handling and error mitigating across services.

We want to have a dedicated chapter for error handling.

Please add your thoughts on this here @ePaul @tfrauenstein @tkrop @codekultur @dehora and all the others I forgot.

[2017-03-14 13:45] ePaul commented on #203
Discussed in Guild meeting today:

* reword the existing guideline to not prescribe this exact object format, but define the field names, and allow objects with different structure.

[2017-03-14 13:48] fmueller commented on #205
Findings in today guild meeting: move 'Do not expose Stack Traces' and 'Use Problem Json' to this new chapter (from 'Common Data Object' chapter).

[2017-03-15 11:14] ePaul opened #206 "Add guideline for header parameters"
Triggered by Nakadi's latest API proposals ([e.g. Nakadi #592](https://github.com/zalando/nakadi/pull/592/files#r106128701)), we want to have a guideline which restricts putting significant parameters (i.e. ones which decide the main semantics of an operation, not just context like language, data formats, etc.) into HTTP headers.

Those should be put preferably into the URL, i.e. either as path (i

[2017-03-15 11:16] tkrop opened #207 "Give better guidance on when to use GET with headers and query parameters or POST with body regarding size limits."
API designers sometimes face the problem, that they have to provide extensive structured request information with GETs, that may even conflicts with the size limits of clients, load-balancers, and servers. In this situations API designers and developers have to chose between:

1. GET with URL encoded query parameters,
2. GET with header parameters,
3. POST with body content.

Currently, we do not

[2017-03-15 11:49] dehora commented on #206
@tkrop @ePaul :1st_place_medal: thanks for actioning this quickly, it's very much appreciated

[2017-03-15 12:22] ePaul commented on #206
Duplicate of #207 (which has a better description).

[2017-03-15 12:22] #206 closed

[2017-03-15 14:32] ePaul commented on #207
An additional issue with OpenAPI 2.0 is that there is no way to put complex objects into anything other than a body parameter, because there is no way to specify how it would be serialized. So putting an object into a header parameter (or query or form or path parameter, by the way) is just not possible in any defined way. In Nakadi's case, they are defining it as a string, with the format propert

[2017-03-15 14:36] ePaul commented on #207
From the conceptual point of view, I think the main meaning of an operation should be expressed with the resource name and its query parameters, i.e. what would go into the URL. Request headers are for context information. When we have "please calculate the difference between these cursors" or "please add these cursors to those shifts", the cursors (and shifts) are the main input.

[2017-03-15 17:10] ePaul commented on #207
Using POST, or distributing the "complex object" on multiple simple query parameters. The latter one won't work well for bulk requests, of course.

[2017-03-28 08:53] fmueller opened #209 "Add mandatory Zally usage to API review procedure"
We plan to go live with Zally (https://github.com/zalando-incubator/zally) and therefore usage of it should be mandatory before an API is handed over for review.

- add paragraph about Zally usage to API review procedure chapter
- add usage information or link to it

[2017-03-29 13:40] tfrauenstein commented on #209
👍

hint: a) PR in review procedure repo -- not guideline relevant.
b) There are other aspects that need to be updated:
- OpenAPI 2.0
- syntax check via Swagger.io -- see my mail about Zally OpenAPI 2.0 compliance check
- YAML not JSON format
- review via dedicated PR on GH/GHE (no Stash or Google doc anymore) -- some editorial consequences

[2017-03-29 19:29] whiskeysierra commented on #209
YAML is a superset of JSON. Any valid JSON document is also valid YAML.

[2017-03-30 08:51] ePaul opened #211 "Gender guideline?"
There was a request in our hipchat to have a guideline about how to encode a gender (for customers, articles, pages).

This issue serves to document the arguments, and possibly find a guideline.

[2017-03-30 08:57] AlexanderYastrebov commented on #211
It seems there are at least following use cases:
* customer sex
* customer salutation
* customer gender
* article gender (or set of genders to express unisex)

https://en.wikipedia.org/wiki/Sex_and_gender_distinction
https://en.wikipedia.org/wiki/ISO/IEC_5218
http://microformats.org/wiki/gender-formats

[2017-03-30 09:21] ePaul commented on #211
There is also the related concept "target group", which is something like "Men, women, children, possibly baby".

[2017-03-30 09:26] oporkka commented on #211
In my opinion, it's best to concentrate on the target gender of the articles in catalog instead of the "sex" of the customer. Then we should be talking about `man` or `woman`. If it's not a binary selection but there can be several values, unisex can be presented by having the both values `["man", "woman]`. Otherwise we have to define more options.

[2017-03-30 11:29] codekultur commented on #183
See https://github.com/zalando/restful-api-guidelines/tree/model_compleate_business_processes for a first proposal.

[2017-03-30 12:06] ePaul commented on #183
Here is [the diff](https://github.com/zalando/restful-api-guidelines/compare/model_compleate_business_processes?expand=1).

[2017-03-31 08:23] fmueller commented on #211
We should ask product management for common terms and if common terms would solve an issue.

[2017-04-03 14:43] tkrop opened #213 "Improve guidance on HTTP verb and response code usage."
We still have a number of misconceptions in the HTTP usage. We should improve the wording to make our expectations clear.

[2017-04-03 14:58] #183 closed

[2017-04-03 15:02] ePaul commented on #213
Do you have a list of those misconceptions (or examples)?

[2017-04-03 15:25] tkrop commented on #213
I will open a pull request with the supposed changes from discussion with Thomas.

[2017-04-03 15:27] #171 closed

[2017-04-05 07:04] tkrop commented on #211
I think, we can do this only wrong 😞.

From a customer perspective `gender` is a good neutral term, but when it comes to possible values: `man`, `woman` ... [here a potential complete list](http://itspronouncedmetrosexual.com/2013/01/a-comprehensive-list-of-lgbtq-term-definitions/#sthash.vys9GbHy.dpbs) - I have to pass.

For products, I think, `target_groups` is a good name, but what does it encod

[2017-04-05 07:12] tkrop commented on #209
Surly true Anyhow, Basic JSON-less YAML syntax allows far better human readability. We currently state:

Should be we change this to:

to take willi's remark into account?

[2017-04-05 07:59] fmueller commented on #209
I prepare a guideline change to make this clear @tkrop and will update our internal review procedures.

YAML is must and JSON should not be used for Swagger files.

[2017-04-05 08:01] fmueller commented on #211
It's not really an API design topic, more about a common Glossary across our product if I understodd you correctly.

[2017-04-05 08:08] tkrop commented on #211
@fmueller Yes and no. Glossary is exactly, what we are doing in [Common Data Objects](http://zalando.github.io/restful-api-guidelines/common-data-objects/CommonDataObjects.html) and some other sections. So it could be part of our guideline.

[2017-04-05 08:11] fmueller commented on #211
Especially this case is highly dependent on business context imho. So I personally find it extremely hard to find a good guideline which fits all needs: only a long list of possible encodings. If this adds value should be discussed.

[2017-04-05 08:32] tkrop commented on #205
Consolidation of this topic makes sens: We although have a section [must provide error documentation](http://zalando.github.io/restful-api-guidelines/http/Http.html#must-provide-error-documentation). In the before mentioned section I see the problem, that it has some kind of inconsistent guidance on when to document errors - functional: yes, technical: no, but no guidance how to exactly distinguis

[2017-04-05 08:37] tkrop commented on #205
May be we although need a proper client guidance, how to implement proper error handling. This may include some similar topics to the ones in API operation chapter.

[2017-04-05 08:39] tkrop commented on #204
I hope you mean section. Chapter would be over emphasized.

[2017-04-06 10:29] oporkka commented on #211
I find that the guidelines is needed. I have seen API endpoint which requires `gender=MR|MRS`. Could be unified to `gender=man|woman`.

[2017-04-06 10:59] dehora commented on #211
The best case I can see here is updating the text to indicate no global guidance.

[2017-04-06 13:07] jhorstmann commented on #211
IMHO the only reasonable guideline would be "don't use gender in your api, it's too complicated". Depending on the usecase there might be several alternatives that should be choosen on a case-by-case basis, like "salutation" or "target group".

[2017-04-06 13:32] oporkka commented on #211
For the time being and I think very much in the observable future we'll have the need to pass parameters called "gender". What was the initial motivation was to have one proposed set of values to avoid that one API is using `gender=(MR|MRS)` and another `gender=(man|woman)` and one service returning even male/female for the field.

[2017-04-07 07:11] #207 closed

[2017-04-07 07:48] tfrauenstein commented on #209
👍

[2017-04-07 07:51] tfrauenstein commented on #209
@fmueller When you prepare the PR -- a short hint to the Zally Project in the introduction of the "General Guidelines" section would be helpful too. Thx.

[2017-04-18 13:08] #209 closed

[2017-04-18 14:59] codekultur commented on #132
Guideline changes can be found here https://github.com/zalando/restful-api-guidelines/tree/new-naming-schema - should be merged after new naming schema is communicated.

[2017-04-18 15:00] codekultur commented on #129
Guideline changes can be found here https://github.com/zalando/restful-api-guidelines/tree/new-naming-schema - should be merged after new naming schema is communicated.

[2017-04-19 19:57] bocytko commented on #132
Amazing to see this moving forward!

[2017-04-20 06:33] akauppi commented on #132
Thanks, Bartosz, for bringing this up.

Only yesterday, I realised that “Bankroll API” has nothing to do with money, or bankrolls, but serving product pictures.

- asko

[2017-04-20 13:57] codekultur commented on #197
Introduced a must rule here: https://github.com/zalando/restful-api-guidelines/tree/document-access-scenarios

Should be merged after services migrated to Platform IAM and new tokens are used.

[2017-04-25 13:26] #213 closed

[2017-04-25 14:43] codekultur opened #221 "Expose information about owning tenant in order to build external authorisation"
As authorisation in the multi-tenant platform becomes more and more complex, we want to make it possible to handle authorisation outside the actual service (e.g. in some infra-structure component in front of the service). Therefore information about the owning tenant of a certain resource must be made accessible for a potential external authorisation logic (that then compares the tenant id in the

[2017-04-26 08:04] codekultur commented on #221
I think we have to look a little bit deeper into variant 2:

GET is easy: If the returned payload contains the owing tenant, and the authorisation code knows to find the owner in the payload, it's easy to do authorisation.

Creating new resources via POST (or PUT) is easy, too: The owner of that data could be taken from the token (or explicitly specified via the payload and checked, that the token

[2017-04-26 08:31] tfrauenstein commented on #221
Tagging data resources with data ownership information is a initially-write-once-activity.
So each update trial with different owner should fail.
If this rule is implemented by all multi tenant server business logics, both centralised authorisation variants works w/o additional get-ownership-info roundtrip. (Editorial remark: I would not call this rule a "decentralized, local authorisation logic")

[2017-04-28 09:03] fmueller opened #223 "Add guidance for handling of multiple values query parameter"
Currently we give no guidance in our guidelines in which form multiple values query parameters should be specified in an API:

`?parameter=value1&parameter=value2&parameter=value3`

or

`?parameter=value1,value2,value3`

We may also consider possible framework implications, maybe some frameworks only allow one of the approaches.

[2017-04-28 09:04] whiskeysierra commented on #223
Copying my own response from the chat:

[2017-05-08 11:28] dehora commented on #129
Any progress on this issue?

[2017-05-08 11:53] dehora opened #224 "Remove library level guidance dependency on json-fields"
From the section [Performance.md#-bookshould--support-filtering-of-resource-fields](https://github.com/zalando/restful-api-guidelines/blob/master/performance/Performance.md#-bookshould--support-filtering-of-resource-fields)

This puts a dependency on a library into the guidelines. That seems to be contrary to API-first. It's not clear how widely adopted the standard or library [1] is even within Z

[2017-05-08 12:55] tkrop commented on #129
We are currently testing the practical consequences of the changed naming schema on routing and AWS setup. Before we integrate the naming changes we want to establish the process for acquiring and applying functional names.

[2017-05-08 14:14] tkrop commented on #224
@dehora agreed that the library is far from being a good reference. We should directly describe the syntax and semantic of the standardized filter, in a way that allows anyone to implement it.

[2017-05-09 08:16] tfrauenstein commented on #224
👍  we already identified this action item, but missed to track it.

[2017-05-09 08:17] dehora opened #225 "Remove large graphic from guideline introduction"
The graphic in the introduction takes up half the page. It could be removed to allow the content to take priority.

----

<img width="944" alt="screen shot 2017-05-09 at 09 13 41" src="https://cloud.githubusercontent.com/assets/5454/25841424/f8c08f7a-3497-11e7-9e14-298a41b99e23.png">

[2017-05-09 08:28] dehora opened #226 "Use rfc2119 keywords to indicate guidance levels"
The guidelines mandate guideline levels without explaining what they mean. It's customary to use RFC2119 in such cases as they're widely understood in the industry. MSFT and GOOG guidelines both use RFC2119. There doesn't seem to be much value in having  undefined terminology.

This can be added to the introduction:

With the following mapping:

| Current term | RFC2119 |
| ------------ | --------

[2017-05-09 08:43] tfrauenstein commented on #225
I would like to keep the graphic -- it contributes to "branding" of our API activities.
But I propose to resize the image 1/3 (ca. 65pts).

[2017-05-09 08:44] whiskeysierra commented on #225
Do we actually use it anywhere else?

[2017-05-09 08:46] tfrauenstein commented on #226
👍

[2017-05-09 08:50] tfrauenstein commented on #225
We have used it as logo for the API Guild (tech wiki, newsletter etc.) and in Tech Blogs so far.

[2017-05-09 09:43] dehora opened #227 "Clarify compatibility status of Open API definitions and generated code"
It's possible to use multiple Open API definitions to define the same JSON structure.

The guidelines talk about compatibility in terms of the JSON at "runtime" and not about compatibility of object definitions. The guidelines also say code generation is fine. From [here](http://zalando.github.io/restful-api-guidelines/tooling/Tooling.html):

Nothing is said about the compatibility of the definiti

[2017-05-09 10:27] dehora opened #228 "Clarify client-side requirements around X- headers"
The [Proprietary Headers](http://zalando.github.io/restful-api-guidelines/headers/ProprietaryHeaders.html) indicate API use of well-known X- Headers is optional:

X- headers (ignoring the history of the X- prefix for experimental development) are often discretionary for clients (eg MSFT's guidelines state they should not be required for an API to work).

As an example, last March, the Nakadi API,

[2017-05-09 12:49] ePaul commented on #203
Discussed in today's meeting:
* We also want to combine the other "common field names" into this rule.
* mention that fields referring to other entities' identifiers should be named `xyz_id` (and not e.g. `customer_number`)
* having an example schema (for copy + paste) is a good idea.
* rename the chapter to "Common data types", including both fields (generic + address) and objects (problem + mone

[2017-05-09 13:13] ePaul commented on #223
See Parameter → collectionFormat in Swagger.
* Should be defined explicitely in API
* we mention advantages/disadvantages of both

[2017-05-09 13:25] ePaul commented on #226
From the meeting: We agree this is a good idea.
When changing the word could to may, we need to make sure the build process (Gitbook plugin for highlighting) still works.

@dehora Do you want to work on this?

[2017-05-09 13:40] ePaul commented on #227
From the meeting:
* We agree that the compatibility guarantees are just for the "on-the-wire" (JSON) format described by OpenAPI, in the sense that clients following the old API definitions still work with the new API. We don't agree source or byte code or similar compatibility for anything generated from it – updating a client to a new API definition version would usually imply changing some of t

[2017-05-09 15:32] ePaul commented on #228
(We didn't get to this in today's meeting, might discuss it next week. Here are my personal comments.)

I think this is not specific to `X-`-headers, but header parameters in general. I think (and that was also my input to that discussion – which then resulted in #217) that header parameters should not be used as a main input for any API, but just as context information:

Some of those headers cou

[2017-05-09 21:57] dehora commented on #228
Yes. But to stay on topic, X- headers need special consideration. As one example an API that can't function without them being sent, is much harder to externalise, which goes against the wishes of the guidelines and Zalando's own top level principles that aren't part of these guidelines but do inform them. As another example, the tenancy headers will impact caching because any cacheable result now

[2017-05-09 22:23] dehora opened #231 "Build doesn't work locally with recent node/npm versions"
The build doesn't appear to work with recent node/npm versions. With node v7.10.0 and npm v4.5.0, I get the dreaded `Error: Cannot find module 'internal/fs'`. I think I've traced this down to gitbook 2.6.7 which seems to rely on older versions of node and graceful-fs. On the other hand upgrading gitbook to 3 breaks restructure-navigation which seems to be fixed to gitbook 2.x (upgrading all other

[2017-05-10 09:12] dehora commented on #226
Ok, see https://github.com/zalando/restful-api-guidelines/pull/232

[2017-05-11 11:51] #226 closed

[2017-05-12 09:16] dehora opened #233 "Improve status code guidance"
The guidance ["Use Specific HTTP Status Codes"](https://github.com/zalando/restful-api-guidelines/blob/master/http/Http.md#-bookmust--use-specific-http-status-codes) could be improved and needs some editing:

- The three bullet points should be their own guidance (putting a should keyword inside a must titled guideline is confusing). It's easier to read for busy people.

- The guidance fails to me

[2017-05-12 09:33] dehora opened #234 "Improve HTTP method guidance"
The guidance ["Use HTTP Methods Correctly"](https://github.com/zalando/restful-api-guidelines/blob/master/http/Http.md#-bookmust--use-http-methods-correctly) could be improved and needs some editing:

- In general: the guidance tries to summarise what HTTP specifies, but doesn't explain how to map methods to common concerns (such as creating a resource or updating). It's not optimised for people t

[2017-05-16 09:20] dehora opened #235 "Add guidance on large numbers in JSON and interoperability"
JSON the specification doesn't provide a limit on the number production in its grammar but very long numbers or doubles with a long mantissa may lose precision when processed by common implementations (such as JavaScript).

[rfc7159](https://tools.ietf.org/html/rfc7159) allow arbitrary long number productions in its grammar but says implementations may impose limitations without saying what they a

[2017-05-16 09:31] SergKam commented on #235
Link to a real life issue
https://techjira.zalando.net/browse/ARUHA-804

[2017-05-16 09:44] whiskeysierra commented on #235
Since it's internal it's not very helpful for externals. It basically describes the case that a number was used to represent an ID. The trivial fix should've been to use a string here. Numbers should only be used for numeric values. I feel like this is the actual rule that we need to emphasize here.

[2017-05-16 10:38] dehora commented on #235
There is guidance elsewhere on using strings for ids, think this is more general to do with numbers in JSON. wrt to the internal ticket If the field was not an id, the same interop problem would have arose where two teams are pointing at each other for a fix.

[2017-05-16 10:49] valgog commented on #235
This topic was already discussed several times, but the only mentioning of the problem (as far as I know) is related to Money object: https://github.com/zalando/restful-api-guidelines/blob/master/common-data-objects/CommonDataObjects.md

Parsing numbers out of JSON is a big problem in most of the existing libraries (especially in typed languages). We need a separate section, that describes not onl

[2017-05-16 10:52] valgog commented on #235
@dehora I think the responsibility issue is clear, it is the responsibility of the client to parse correctly. This was a though when we standardised Money object.

Changing it according to reality of the situation with limited implementations, prohibiting usage of `number` in JSON will push the responsibility of the data producers.

[2017-05-16 11:04] dehora commented on #235
Right, but technically not so since rfc7159, which is why the guidance is needed. From "[6. Numbers](https://tools.ietf.org/html/rfc7159#section-6)":

Clients don't have to honour precision, so the problem is baked into the most recent RFC (that wording didn't exist in rfc4627).

[2017-05-16 14:04] zrobgar commented on #235
Guidance is neccessary, Expeccially in regards to internal issues. The numbers that we are considering here are an ID, this is not a number, nor can it be considered nor treated as a number. It is and should be considered to be a text field, unless someone, somewhere, somehow thinks we are going to start multiplying order ids by each other, or otherwise doing arthimetic on them, they are just an i

[2017-05-17 12:06] SergKam commented on #235
I found some good rule in our guidelines addressing this.
http://zalando.github.io/restful-api-guidelines/resources/Resources.html

Can we just separate this mention in its own rule?

[2017-05-18 09:19] dehora opened #237 "Reduce guidance dependency on Nakadi project"
The event models defined in the Nakadi project are required in the guidelines but the data models are currently managed in the Nakadi project. This is different to how common models like Money and Problems are handled.

The first step proposed is to reduce the number of references to the technology project without changing the basic guidance - this issue tracks that work. Follow on issues can look

[2017-05-19 12:02] ePaul commented on #235
I think we have two issues:

**IDs should be strings, not numbers**. I guess we all agree here?

For numbers (both `type: number` and `type: integer`), JSON does not prescribe any size/precision limit (but tells that implementations can put limits), and OpenAPI doesn't either (if no format is given).
I'm not sure where we use non-integer numbers other than for money values (which is covered by the

[2017-05-21 22:31] dehora commented on #235
@SergKam if you want to discuss IDs specifically, please open another issue. This issue is for guidance around numbers generally.

[2017-05-21 22:39] dehora commented on #235
@ePaul As I've pointed out twice already, IDs are a different, specific subject.

[2017-05-23 12:16] ePaul commented on #223
Fixed by #236.

[2017-05-23 12:16] #223 closed

[2017-05-23 12:22] netme opened #238 "Make Restful API Guidelines Mobile-Friendly"
Current API guidelines are not mobile friendly:

![photo_2017-05-23_14-19-44](https://cloud.githubusercontent.com/assets/96552/26354010/1e493f18-3fc3-11e7-84c6-3c39cb8ba4f3.jpg)

We need to find a solution to make it usable.

[2017-05-23 13:13] ePaul commented on #228
**From the meeting**: We are looking through the headers listed there:

* X-Flow-ID: is needed for tracing. We should add some guidelines about how they should be provided/handled. → new issue.
* X-UID – seems superfluous. Currently used mostly in legacy services. → create new issue.

For these we are not sure:

* X-App-Domain (replaced by sales channel)
* X-Sales-Channel – this and app-domain det

[2017-05-23 13:26] duergner commented on #228
**From the meeting:** In addition to the points mentioned above the guidelines should be adopted to give the following guidance.

Zalando proprietary headers like e.g. *X-Flow-ID* or *X-Device-Type* need to be passed on downstream from service to service without change.

RFC defined X headers like e.g. the rate limiting ones can be used on API definitions whenever they make sense.

Beside that the

[2017-05-23 14:40] tkrop commented on #235
1. Our `string` rule for `id` is very implicit (http://zalando.github.io/restful-api-guidelines/common-data-objects/CommonDataObjects.html#must-use-common-field-names). It's hard to deduce from it, that every id should be represented as `string`. We should have a top level rule for any field containing a reference/id to an entity to prevent this kind of problem. If some one still expects a certain

[2017-05-23 21:14] ePaul commented on #238
While I doubt that many people are developing API's on mobile devices, you are right that it should be possible to read them there. Any proposals are welcome.

[2017-05-29 14:39] tkrop commented on #233
@dehora I'm not sure, that this improves the guidance. It is true that the HTTP section contains many more rules than it reveals by section titles, but I do not think that it would improve readability of the document to factor them out as first level rules. The current structure is designed around *HTTP verbs* and certain *use/error cases*.

@dehora Agreed, the guidance is neglecting this because

[2017-06-06 08:47] tfrauenstein commented on #225
#240

[2017-06-06 08:47] #225 closed

[2017-06-06 12:32] ePaul commented on #211
Discussed in the meeting:

We think there is no urgent need to define this in the guidelines for the whole company.
It should be done use case specific.

[2017-06-06 12:32] #211 closed

[2017-06-06 13:15] ePaul commented on #235
**Discussed in the meeting**:

* Whenever a `number` or `integer` is used, a `format` needs to be there, too.
* We use the formats `float`, `double` (standard OpenAPI) and `decimal` (for arbitrary-precision *decimal* numbers) for `number` – the latter is preferred for money-related stuff.
* We use the formats `int32`, `int64` (standard OpenAPI) and `bigint` (for arbitrary-size integer numbers) for

[2017-06-06 13:20] ePaul commented on #235
**From the meeting**:
About the `id` as string or integer: We agree that the sentence at the common field names rule is too hidden. We don't really agree whether it should be more visible (a separate rule) or not be there at all.

[2017-06-06 16:00] ePaul commented on #227
I opened pull requests #141 + #142 for this.

[2017-06-13 13:14] ePaul commented on #227
@dehora could you have a look at the pull requests?

[2017-06-14 12:44] ePaul commented on #233
As we found out in https://github.com/zalando-incubator/zally/issues/374, the current wording of the guideline can be misunderstood.

I thought that the three items are quite clear:

- It does *not* say that you are only allowed to use the listed status codes (just that you should document clearly when you are using a not listed one)
- It says to only use codes defined in RFCs
- It says to follow

[2017-06-14 12:46] maxim-tschumak commented on #228
@duergner

There are no RFC defined X headers anymore, they are deprecated by IETF ([RFC-6648](https://tools.ietf.org/html/rfc6648))
I' going to use `conventional X headers` wording in the guideline.

[2017-06-15 07:06] SebastianNelk opened #245 "Highlighting of sort key(s) in data change events"
The actual event schema definition does not explicitly state the sort key of data change events.

Please create a guideline to highlight the sort key in the event schema definition taking into concern that this could be distributed across multiple properties.

This is important to enable consumers to ensure the right event order during consumption.

Thanks!

[2017-06-15 15:24] #224 closed

[2017-06-15 15:42] duergner commented on #238
Would it be maybe already enough to have the menu collapsed by default on mobile?

[2017-06-15 15:54] netme commented on #238
@duergner yes, that sounds like a plan

[2017-06-20 08:48] fmueller commented on #231
We once decided to stick with old Gitbook version https://github.com/zalando/restful-api-guidelines/issues/106

I think, if the guild decides to go with Gitbook 3 the guidelines need to be reordered to fit in default gitbook chapter structure. I would not adapt custom plugins or implement another plugin. Just stick to the default.

[2017-06-20 08:50] fmueller commented on #231
And current build is working with Node 5.1.1 Can we at least hardwire this somewhere?

[2017-06-20 08:52] dehora commented on #231
Got it. I don't know how that stays realistic for (#106 is nearly a year old) in this particular ecosystem. It's disappointing the piece holding back an upgrade is an unmaintained Zalando plugin.

[2017-06-20 08:53] maxim-tschumak commented on #231
@fmueller We can specify the [engine version](https://docs.npmjs.com/files/package.json#engines) to the package.json.

[2017-06-20 11:58] tfrauenstein commented on #165
fixed by PR #248

[2017-06-20 11:58] #165 closed

[2017-06-20 13:19] ePaul opened #249 "Guideline for absolute vs. relative URIs in links"
TODO.

[2017-06-20 13:40] ePaul commented on #231
**From the meeting:** We should mention our decision to stay at this old Gitbook version in BUILD.md (maybe inviting volunteers to work on improving this). @fmueller could you do this?

[2017-06-20 13:45] fmueller commented on #231
Yes @ePaul, will put this into BUILD.md and mention it in README accordingly. Good idea.

[2017-06-22 11:54] maxim-tschumak opened #251 "X-Flow-ID Guidelines"
The new guideline(s) should include:
- How to handle `X-Flow-ID`
- What are the boundaries (scope) of the `X-Flow-ID`
- Which properties should apply to `X-Flow-ID`
- When to generate a `X-Flow-ID` and how should it look like
- Further explanations and reasoning

Related to / triggered by #228.

[2017-06-22 11:57] maxim-tschumak opened #252 "New Guideline: APIs should not support HTTP caching (because they are authenticated)"
Related to / triggered by #228.

Background: We have several X-headers which potentially influence the results of API calls. A naive cache could get confused by this if this is not taken into account.

[2017-06-22 12:00] maxim-tschumak opened #253 "Remove the mention of the X-UID Header"
and improve the guidelines.

Related to / triggered by #228.

[2017-06-22 12:01] maxim-tschumak opened #254 "Clarify the usage of X-App-Domain and X-Sales-Channel Headers"
and incorporate into the existing guidelines.

Related to / triggered by #228.

[2017-06-22 12:05] maxim-tschumak commented on #228
Related issues have been created, I'm preparing the PR for the guideline changes.

[2017-06-23 19:06] ehmkah opened #259 "Possible to make pdf available"
Would it be possible to make the guidelines as a pdf accesible? Or if that is already possible where do I find the pdf?

Yes I know its possible to create it locally, but I lost an hour and it is still not working. Would be realy cool?

[2017-06-23 19:12] ePaul commented on #259
We previously had a PDF, but I think there were some problems with the generation ... therefore we got rid of it (because the HTML version is the authoritative version anyways).

[2017-06-23 19:31] ehmkah commented on #259
OK. I don't know whether it helps but a single page html would be also a good solution. Just a file which can be sent directly to the printer.

[2017-06-23 20:16] ePaul commented on #259
A single page PDF sounds nice. If you (or someone else) knows how to produce this (in addition to the multiple page one), this would be a welcome addition.

[2017-06-26 08:59] fmueller commented on #259
Hi @ehmkah, I sent you a locally built PDF file to the email address I found on your Github profile.

Can you please give us detailed error message what did not work when you tried the steps described in out readme file to build it locally?

[2017-06-26 11:05] maxim-tschumak commented on #238
I tried to insert a JS script which disables the `:navbar` via user local storage. To achieve this I included another gitbook plugin. Unfortunately, I didn't succeed to build the project (using 5.11 node version).

If someone wants to try on his own, here is the patch:
[code]

I propose to migrate to Gitbook 3 (or 4, depends on when we are going to do the migration)

[2017-06-26 11:18] ePaul commented on #238
Related: #231, #69, #10.

[2017-06-26 18:08] ehmkah commented on #259
Maybe the reason was a wrong configured Mac OS X system. I installed nodeJS (npm 4.2.0) with homebrew. Than npm installs different packages all over the hard disk.

I get the following error
[code]
During installation I get the error - do not know whether it was important
`Installing GitBook 2.6.7
xcode-select: error: tool 'xcodebuild' requires Xcode, but active developer directory '/Library/Devel

[2017-06-27 09:07] maxim-tschumak opened #260 "Migrate build process + markup to ASCIIdoc(tor)"
**As** maintainer, contributor, and user of the RESTful API Guidelines
**I want** the Guideline publishing process to be based on a maintained version of the used software
**So that** the build process is stable and we can make use of latest features and plugins

~~**As** maintainer, contributor, and user of the RESTful API Guidelines~~
~~**I want** the Guideline to be based on the latest stable G

[2017-06-27 09:09] maxim-tschumak commented on #238
With the new versions of the GitBook, this problem becomes obsolete. We will migrate to the newer version in #260.

[2017-06-27 09:09] #238 closed

[2017-06-27 09:13] maxim-tschumak commented on #260
For the meeting on 2017-07-04: if nobody wants to do this - feel free to assign this one to me.

[2017-06-27 09:26] ePaul commented on #227
With both PRs being merged, I think this can be closed. @dehora please reopen if you think I missed something.

[2017-06-27 09:26] #227 closed

[2017-06-27 10:22] dehora commented on #227
👍  Nice work!

[2017-06-27 11:13] fmueller commented on #259
I added a hint for node version, see #261, and we wanna upgrade to current Gitbook version soon, see #260.

As it is working for you and you received the PDF via email, I close this issue.

[2017-06-27 11:13] #259 closed

[2017-06-27 11:50] #231 closed

[2017-06-27 16:24] PetrGlad opened #262 "Section "13. Data Formats" contains contradictory requirements"
If this document strives to conform RFC 2119 as stated in "1. Introduction" section then these two requirements in "13. Data Formats" are mutually exclusive
* Must: Use JSON as the Body Payload
* May: Use other Media Types than JSON

I suggest merging it into single section "Should: Use JSON as the Body Payload" which would list considerations that migh allow to chose alternative formats.

Also "M

[2017-06-27 16:35] PetrGlad opened #263 "Mention "Link object" in "14 Common Data Objects" (improvement)"
Requirement "Must: Use common hypertext controls" in section "12. Hypermedia" mentions "Link Object". It looks helpful to refer or mention it in section "14 Common Data Objects" also.

[2017-07-03 21:02] whiskeysierra opened #264 "Property naming convention is incompatible with IANA link relations"
Since the latest changes to hypertext controls there is an incompatible corner case with the following two guidelines:
- [Property names must be snake_case (and never camelCase).](https://github.com/zalando/restful-api-guidelines/blob/master/json-guidelines/JsonGuidelines.md#-bookmust--property-names-must-be-snake_case-and-never-camelcase)
- [Use common hypertext controls](https://github.com/zalan

[2017-07-05 13:45] whiskeysierra opened #266 "Adding an optional property is a breaking change for PUT (for updating)"
We always consider the addition of optional properties as a non-breaking change:

That doesn't work for `PUT`:

1. Server introduces new optional property
2. Client A updates the property to some meaningful value
3. Client B requests the resource but ignores the property since it's unknown to it
4. Client B modifies some other property using `PUT`, i.e. it replaces the resource
5. :boom: the prope

[2017-07-05 13:49] AlexanderYastrebov commented on #266
but we can not rely on this and there is no way to distinct between intentional removal and accidental one

[2017-07-05 15:01] tkrop commented on #262
Yes, I think we have been aware of this contradiction, when we added the new section that allows to provide other contents, in hope it would express the requirement to provide resources in JSON as default. May be it is time to combine both sections to be more precise and not contradictory.

@PetrGlad Can you create a pull request with your suggested changes?

[2017-07-06 07:33] tkrop commented on #266
@whiskeysierra good analysis. Just for curiosity: have you experience this problem in an actual failure case?

Anyhow, I like to ask, whether this is a problem at all?

As I see it, this is a problem when thinking of services as database wrappers. When thinking of resources as business processes, this situation will very likely not appear, because the update operation itself a business process cre

[2017-07-06 07:37] tkrop commented on #263
Thanks for the note.

@meshcalero can you add this hint to #250?

[2017-07-06 07:49] tkrop commented on #264
@meshcalero can you prepare pull request with the not to translate the IANA link relation to snake_case? Would this be appropriate?

[2017-07-06 07:52] tkrop commented on #177
@tfrauenstein Can you although solve this with #248?

[2017-07-06 07:52] tkrop commented on #204
@tfrauenstein Can you although solve this with #248?

[2017-07-06 08:16] AlexanderYastrebov commented on #266
@tkrop `when a single resource is updated by more than one client` is a precondition, yes.
I think the issue should be clearly outlined in Compatibility/Prefer Compatible Extensions section.

[2017-07-06 15:02] tkrop commented on #199
@meshcalero Do we need to address something more here?

Should have been fixed by #246 and #256 if not counting the bugfixes and ubdates from #263 and #264.

[2017-07-10 06:54] whiskeysierra commented on #266
I don't get it. Can you elaborate?

I haven't seen an API yet that has a single consumer, tbh. But even then, if there are cases (and your use of *default* implies that), I'd say we should prepare for this. A common pattern that I see is that different clients act on different aspects of resources,

[2017-07-10 10:06] tkrop commented on #266
@whiskeysierra but this is exactly what I meant. If you implement business processes, you do not act on resources, especially not on an optional property. You act by creating new resources, that creates a new business process (step), that changes the business process resource with the optional property in response.

It does not matter whether, this is done by one service or multiple, but having th

[2017-07-10 13:31] AlexanderYastrebov commented on #266
@tkrop We can not fix the world but we can raise an awareness of the issue and its appearance.

[2017-07-10 14:46] tkrop commented on #266
@AlexanderYastrebov I'm not suggesting this. But seems as the issue is part of a different problem.

[2017-07-11 08:09] mfellner commented on #260
These two gitbook plugins the project depends on are no longer available on github.com:

* gitbook-plugin-restructure-navigation
* gitbook-plugin-structured-toc

However they are still on npm: https://www.npmjs.com/~mostlymagic. I suggest recreating the GitHub repositories under a dedicated org and re-uploading future versions of those plugins under the `@zalando` namespace on npm.

[2017-07-11 13:57] meshcalero commented on #264
I would actually propose to convert them to snake-case, as hypen-case attribute names may lead in many programming language bindings to language specific name conversions or require quoted attribute names.

As the enforcement for IANA names is primarily about consistency across API, not so much about identiy to IANA names, a conversion to snake-case should not hurt.

[2017-07-11 15:18] #235 closed

[2017-07-12 09:21] #264 closed

[2017-07-12 10:41] #228 closed

[2017-07-12 11:55] whiskeysierra opened #269 "Consider to redesign common address attributes (salutation/first-name/last-name)"
Based on discussions in #250

http://www.siliconglen.scot/usability/courtesytitles.html

It raises valid questions regarding:
- single name field, instead of splitting up first and last name
- free, single text field, instead of fixed set of salutations/titles
- deduce gender from title/salutation

[2017-07-12 13:32] #203 closed

[2017-07-12 13:32] #263 closed

[2017-07-12 14:06] maxim-tschumak commented on #260
I tried to migrate to ASCIIDoc, here is the result:
* Source code:
* HTML: https://maxim-tschumak.github.io/asciidoc-guidelines/
* PDF: https://maxim-tschumak.github.io/asciidoc-guidelines/index.pdf

All the features we use currently are supported. ASCIIDOC is more powerful and configurable.
We may also have a look at [Sphinx](http://www.sphinx-doc.org/en/stable/).

[2017-07-12 14:08] whiskeysierra commented on #260
generated links look weird, but apart from that I like it

[2017-07-12 14:13] maxim-tschumak commented on #260
@whiskeysierra true. It's possible to set custom ids for the headers (and we should definitely do this if we decide to use asciidocs)

[2017-07-12 14:20] whiskeysierra commented on #260
That's a neat feature since it allows to rename the headline without links to break.

[2017-07-12 14:23] maxim-tschumak commented on #260
@whiskeysierra I've just set the custom ids - now we are SEO friendly :)

[2017-07-14 11:56] tkrop commented on #260
@maxim-tschumak if links change, we have to change Zally too ...

[2017-07-14 13:49] maxim-tschumak commented on #260
@tkrop Yes, but they will be stable for future changes - which is good :)

[2017-07-18 11:56] tfrauenstein commented on #266
Any concrete proposal, how we should change the guidelines as to address this problem?
What about the following proposal:

"Ignore new and unknown fields in the payload"
--->
"Be prepared for new and unknown fields in the payload,
i.e. ignore new field but don't eliminate it from payload used for subsequent PUT calls"

[2017-07-18 12:03] PetrGlad opened #270 "Broken links to "Common Data Object" section"
PR #250 introduces broken links. Grep sources for regexp "common.data.objects" (case insensitive) to see problem parts.

[2017-07-18 12:07] PetrGlad commented on #270
I see that build log even contains relevant messages.
[code]

[2017-07-18 12:18] PetrGlad commented on #262
OK, I'll make a PR

[2017-07-18 12:18] duergner commented on #266
@tfrauenstein would be good but I think that's quite hard to actually achieve when implementing it.

I'm not aware of any JSON data binding library on the JVM space being able to do this.

[2017-07-18 14:06] whiskeysierra commented on #266
Jackson can do it, using @JsonAnySetter.

On 18 Jul 2017 14:18, "Michael Duergner" <notifications@github.com> wrote:

@tfrauenstein <https://github.com/tfrauenstein> would be good but I think
that's quite hard to actually achieve when implementing it.

I'm not aware of any JSON data binding library on the JVM space being able
to do this.

—
You are receiving this because you were mentioned.
Reply

[2017-07-19 17:14] ePaul commented on #260
I updated the initial comment + Issue title to reflect what we decided last meeting.

[2017-07-20 08:19] #262 closed

[2017-07-20 08:34] maxim-tschumak opened #272 "Broken Links to Common Data Types Chapter"
Changes introduced in https://github.com/zalando/restful-api-guidelines/pull/250 have broken the link in the table of contents and some other links in the other chapters.

[2017-07-20 09:23] #272 closed

[2017-07-20 09:24] tkrop commented on #270
Fixed with #273

[2017-07-20 09:25] #270 closed

[2017-07-20 12:16] tfrauenstein commented on #266
created PR #274

[2017-07-20 12:16] #266 closed

[2017-07-25 09:34] PetrGlad opened #275 "API Discovery section should be clarified"
Since api-discovery projects were moved from github.com to our internal GHE
the link to https://github.com/zalando-incubator/api-discovery is now broken.
A side effect of this is that recommendation to use API Discovery endpoint `https://example.com/.well-known/schema-discovery` is now incomplete and missing any hints on required format and rules for `schema-discovery` resource.

I could not find

[2017-07-25 09:50] maxim-tschumak commented on #275
Thanks for your input @PetrGlad!

We are going to roll out a new API discovery process soon. The current solution relies on the `.well-known` schema discovery endpoint. That's why we don't want to touch this guideline so far. After the change in the discovery workflow, we will adjust the respected guideline.

I'm going to adjust the link to the `api-infrastructure` repository since it's broken.

[2017-07-25 10:12] PetrGlad commented on #275
Also https://stackoverflow.com/questions/41660658/openapi-or-swagger-json-auto-discovery

[2017-07-25 10:14] PetrGlad commented on #275
@maxim-tschumak It is a bad idea to refer internal project in open document. Therefore I did  not list that as possible resolution.

A good solution would be to register schema discovery name in IANA since all other users of OpenAPI spec would benefit from it.

[2017-07-25 10:42] maxim-tschumak commented on #275
You are right @PetrGlad - I'm removing the internal link from the guideline and rephrasing the description.

I like your idea of registering the schema discovery name in IANA. Our future discovery solution will not rely on an additional endpoint though.

[2017-07-25 12:27] PetrGlad commented on #275
A less intrusive recommendation could be to put declaration into `/openapi.json`

[2017-07-25 12:35] dehora commented on #275
the link to https://github.com/zalando-incubator/api-discovery is now broken... and missing any hints on required format and rules for schema-discovery resource.

@PetrGlad @maxim-tschumak In the meantime are the guidelines [here](http://zalando.github.io/restful-api-guidelines/api-operation/ApiOperation.html) broken? If they are, I don't think we can wait on a future undefined solution to fix the

[2017-07-25 12:50] tkrop commented on #275
@dehora I think we can live with describing the process instead of linking to the source repository for now. @maxim-tschumak has prepared this in #276.

[2017-07-28 08:58] whiskeysierra opened #278 "Are additionalProperties subject to property naming rules?"
The [compatibility guidelines](http://zalando.github.io/restful-api-guidelines/compatibility/Compatibility.html) contain a small reference to `additionalProperties` with a schema as a value:

Those are used to represent dynamic key-based data structures, usually referred to as maps, objects or hashes. Do the [property naming rules](http://zalando.github.io/restful-api-guidelines/json-guidelines/Js

[2017-07-28 09:00] whiskeysierra commented on #278
Our JSON guidelines carefully (?) use the word `property` instead of key. I'd therefore treat an object that was specified using `additionalProperties` as a complex value, but a value nonetheless. In other words clients should not assume the same rules for keys in complex values like that.

What are other opinions on this?

[2017-08-01 11:46] ePaul commented on #275
Did #277 solve the problem of this issue, i.e. can this be closed?

[2017-08-01 11:49] ePaul commented on #278
I would say that for maps (i.e. an object with just `additionalProperties` and not directly defined properties), the naming rules don't apply – the keys are not defined in the API definition anyways.

We might need to clarify this in the guidelines.

[2017-08-01 12:42] ePaul commented on #275
**From the meeting**: The "well-known registration issue is still open.
The API tooling team is considering a solution to replace this, until then this is waiting.

[2017-08-01 12:53] ePaul commented on #278
**From the meeting**:

The JSON guideline about snake_case could get an additional paragraph "this does not apply to maps".

[2017-08-01 12:54] ePaul commented on #260
Waiting until the current big PRs are merged, to avoid conflicts.

[2017-08-01 13:11] ePaul commented on #252
**From the meeting:**
By default no caching is supported. If client-side caching of a resource is allowed, it must be mentioned in the API definition (and then the proper Vary-headers must be set).

[2017-08-01 13:15] ePaul commented on #251
**From the meeting**: Maybe we can copy some text from the tracer library.

[2017-08-01 13:19] ePaul commented on #253
Maybe this can be removed completely? Is there any reason to have it in an API definition?

[2017-08-01 13:21] #199 closed

[2017-08-02 08:10] wssbck commented on #278
This seems like a very easy way to circumvent any data quality requirements when it comes to JSON data. From the perspective of an API consumer what matters is the data it receives, not whether it was covered with additionalProperties in the schema definition.

[2017-08-07 08:05] tkrop commented on #278
Unfortunately, the issue up to now does not reflect the discussion behind this issue, which in my opinion is: **what are the rules for defining property keys/names?**

The reason behind this question is: (1) can generic processing tools can rely on naming conventions of properties, and (2) are special characters are excluded from property names, i.e. is the character restricted to [a-zA-Z0-9_]?

I

[2017-08-08 10:22] ePaul commented on #278
@wssbck could you elaborate on what kind of "data quality" you are thinking about?

If we have a map with country-codes as keys, a consumer is not served by having them lower-case instead of the natural upper-case.

[2017-08-08 20:54] dehora commented on #278
No, imo. It's too fragile for tools to rely on conventions. Conventions can change.

I imagine you're referring to this: http://zalando.github.io/restful-api-guidelines/json-guidelines/JsonGuidelines.html#must-property-names-must-be-an-ascii-subset

It's worth noting this is ultimately stylistic and not technical (up to the point where property names allow escaped/unicode chars, then there's a tec

[2017-08-15 14:27] maxim-tschumak commented on #260
During the migration, all the Rules will get an assigned ID as specified in this [internal document](https://docs.google.com/document/d/19A9n4q_JwjpFR3jLnyiHF09CQxQf0T04smPAO0Yvlyc/edit).

[2017-08-17 08:40] wssbck commented on #278
@ePaul I think I have misread the intent of the disputed part of the guidelines. I thought having certain requirements as to the naming of JSON attributes was a data quality measure. I assumed it was much more than a stylistic suggestion and that it was introduced to ensure clients could rely on certain conventions about the shape of the data returned from APIs.

The wording in the guidelines is s

[2017-08-22 15:18] maxim-tschumak opened #283 "Usability Improvements"
After migrating to Asciidoc (#260), we are able to improve the usability of the guidelines for users and maintainers. Here are some proposals:

- [ ] "disable/enable sidebar" button
- [ ] Place footnotes right after rule (instead of at the end of the whole document)
- [ ] Collapse chapters in the navigation sidebar
- [ ] Highlighting of the current position in the navigation sidebar
- [ ] Buttons

[2017-08-23 19:08] ePaul commented on #283
The ToC could also show the rule IDs (nice to have, by no means necessary).

[2017-08-25 10:29] #260 closed

[2017-08-26 05:22] max-neverov opened #285 "Unknown fields controversial"
[Rule 108](http://zalando.github.io/restful-api-guidelines/#108) states

whereas in [rule 109](http://zalando.github.io/restful-api-guidelines/#109)

[2017-08-26 05:32] max-neverov commented on #285
Sorry, further reading explains everything.

[2017-08-26 05:32] #285 closed

[2017-08-29 12:46] ePaul commented on #177
Was fixed by #248.

[2017-08-29 12:46] #177 closed

[2017-08-29 12:55] ePaul commented on #204
Was not done with #248.

**From the meeting**:

* It might be useful to mention explicitly "Please mention your validations in the API description", not just as a subphrase in a bullet point in the compatibility section.
* We decided that for now it is not needed, we already have too many rules.

[2017-08-29 12:55] #204 closed

[2017-08-29 13:10] ePaul commented on #278
**From the meeting**

* rule [119](http://zalando.github.io/restful-api-guidelines/#119) should tell a regular expression.
* add example for a map to rule 118 (or as a new rule?)

[2017-08-29 13:24] ePaul commented on #269
**From the meeting**:

Which (engineering or business) problem do we have to solve here?

@whiskeysierra Could you propose a way how the guideline should be changed to cover your concerns?

[2017-08-30 13:57] tkrop commented on #253
Only discovered one usage in our API repository. Same API is also responsible for other headers from #254.

[2017-08-30 13:58] tkrop commented on #254
Only discovered one usage in our API repository. Same API is also responsible for other headers from #253.

[2017-08-30 14:17] tkrop commented on #251
Is only explicitly defined in 103 of 250 apis.

[2017-08-30 15:08] ePaul commented on #278
As there was some confusion, here is an example of a schema definition which is using a map:

[code]
The `translation` property here has a type `Map<String, String>` (in Java speak), and is represented in JSON as an object. The keys are the "property names", but they are not property names in the sense of the guidelines – so the camel-case requirements do not apply, possibly also not the ASCII one

[2017-08-30 15:44] ePaul opened #290 "Travis CI is pushing the result of feature branch builds"
The result of the feature branch builds in Travis CI seems to be pushed automatically to the GH-pages branch. We had this problem before (#65), and it seems to be back with the migration to ASCIIdoctor (#282).

For example, right now my change from #288 is already visible in the generated HTML/PDF, although it is not yet merged.

[2017-08-30 16:07] ePaul commented on #290
From https://travis-ci.org/zalando/restful-api-guidelines/builds/270038288:

[code]
This corresponds to the code here:

[code]

[2017-08-30 16:25] ePaul commented on #290
I opened #291 to fix this, replacing `-eq` by `=`.

[2017-08-31 08:02] #290 closed

[2017-08-31 08:10] ePaul commented on #290
The fix is merged, I want to see if it actually works before closing this issue. I.e. I want to see that a new push of one of the feature branches doesn't deploy it to the gh-pages branch.

[2017-09-05 13:35] #253 closed

[2017-09-06 12:05] whiskeysierra commented on #269
I'd say it's a *social* one.

1. There are many cultures that don't have the concept of first and last name.
2. Salutation, if used correctly, is just for addressing the user. Mostly in written form. This doesn't have to be a fixed set of values. I don't see a reason to put people into boxes. Let them choose their *title*.
3. Asking for gender feels really weird to me. In particular I believe to r

[2017-09-12 14:09] ePaul opened #294 "Make hyperlinks in (and between) APIs more usable"
As discussed in our meeting today, we want to make links in APIs more easily usable by client developers.

We discussed two approaches:
* The runtime approach proposed by @andreasowczarek includes putting HTTP method, resource type, title, etc. in a hyperlink control object (beside the `href` property we already have).
* The design time approach proposed by me includes pointing in the schema defin

[2017-09-12 14:40] ePaul commented on #294
A while ago (during the development of OpenAPI 3.0) I made the proposal https://github.com/OAI/OpenAPI-Specification/issues/577, which basically allowed to add to an "interface" (which has mostly the same format as a path item, but without parameters) to a property with `type: string` and `format: uri`.

That proposal was not adopted in OpenAPI 3.0, but OpenAPI 3.0 now has a different way of speci

[2017-09-13 09:53] dehora commented on #294
Others reading the guidelines won't necessarily know who "we" is.

There are two approaches I know of - [html `<a>`](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-a-element) and [atom `<link>`](https://tools.ietf.org/html/rfc4287#section-4.2.7).  My guess is @andreasowczarek's idea is akin to this with an additional "options" property to indicate the method.

A pre-requisite

[2017-09-17 12:15] ePaul commented on #294
You are right. I'm wondering of how we (Zalando's API Guild aka the maintainers of this repository) can make it more visible to outside observers/contributors that we have bi-weekly Zalando-internal meetings where these issues are discussed (beside other topics).

I would say we should try to lay down the important arguments here in comments to issues, though sometimes we also have internal reason

[2017-09-17 12:26] ePaul commented on #294
You (as an employee of Zalando and member of the API guild) can look at our Rolling Agenda document, @andreasowczarek' presentation is linked from there.

We already have the `href` property for links in [Rule #164](http://zalando.github.io/restful-api-guidelines/#164), @andreasowczarek's proposal is to add some more (optional) attributes to allow clients *at runtime* to know what to do with a lin

[2017-09-17 15:12] dehora commented on #294
One suggestion would be to make significant design improvements and proposals like this public.

[2017-09-22 11:15] maxim-tschumak opened #295 "Host Must Not Contain Protocol"
`host` property in the root of the Open API definition must not contain protocol.
There is already a Zally [check](https://github.com/zalando-incubator/zally/blob/master/server/src/main/java/de/zalando/zally/rule/NoProtocolInHostRule.kt) for this rule().

What do you think about including this rule into the Guidelines under [API Naming](http://zalando.github.io/restful-api-guidelines/#api-naming)

[2017-09-22 11:17] whiskeysierra commented on #295
I'd say this is covered:

[2017-09-22 11:25] maxim-tschumak commented on #295
@whiskeysierra You are right! Thanks for the research.
@tfrauenstein This is a good example of a "rule" which is not part of our Guidelines, but still a good candidate for a Zally check.

[2017-09-22 11:38] maxim-tschumak opened #296 "Proper usage of OpenAPI schema definitions"
We should address and motivate proper usage of `Definitions` feature of OpenAPI.

There are different aspects:
- API designer should use `Definitions` (instead of embedding a model)
  - For better readability (e.g. in Swagger UI)
  - For re-usage
  - Consistency over all our APIs
- API designer must avoid unused Definitions in the specification
  - Artefacts if automatic code generation is used (p

[2017-09-22 11:49] whiskeysierra commented on #296
I wouldn't be so black and white here. There are benefits to embedding.

Highly subjective. Constantly switching between definitions and operations doesn't help with readability either. It's like having constants for every single literal in the code even if it's used only once. More often than not, inlining a response actually helps the flow when reading from top to bottom.

That should be the obv

[2017-09-22 13:03] maxim-tschumak commented on #296
Thanks for your input @whiskeysierra

Maybe a "MAY" rule/guidance.

After Swagger UI parsed the API spec it shows all Definitions on the top level (not within the endpoint specs). It may be very useful for potential consumers - "which resources are part of the API".

I agree with you

[2017-09-26 12:16] ePaul commented on #197
*Update:* Narrative for rollout is being worked on, when it is clarified we should update the guidelines.

[2017-09-26 12:23] ePaul commented on #205
**From the meeting:** We currently don't see the need for the refactoring, so we don't do this now.

[2017-09-26 12:23] #205 closed

[2017-09-26 12:34] ePaul commented on #233
@tfrauenstein updates the guidelines to make the "document if other code" clearer, and also talks with @dehora about his issues.

[2017-09-26 12:47] tfrauenstein commented on #237
Guild meeting: let's close this issue -- all changes have been done; there is only one open issue as work in progress #265

[2017-09-26 12:47] #237 closed

[2017-09-26 12:58] ePaul commented on #251
**From the meeting**:

* We want to have a guideline about distributed tracing
* The flow-ID should be passed through events, too
* Should API definitions include the definition of the header?

@whiskeysierra will collect ideas from @tkrop and @tfrauenstein, possibly also from @valgog and @dehora, and write it together.

[2017-09-26 13:12] ePaul commented on #254
**From the meeting**: We don't need to change anything here.

[2017-09-26 13:12] #254 closed

[2017-09-26 13:19] ePaul commented on #269
**From the meeting:** No immediate action identified.

[2017-09-26 13:19] #269 closed

[2017-09-26 13:26] ePaul commented on #278
**From the meeting**:

* merge rules 118/119 into one
* add a new rule for maps with keys, add example, make clear the 118/119 doesn't apply here.

[2017-09-26 13:28] ePaul commented on #283
**From the meeting**:

Whoever has time, feel free to grab parts of this and fix them, opening a PR.

[2017-09-26 15:05] meshcalero opened #297 "Various HTTP Header related inconsistencies"
Rule 133 "Use standardized Headers" doesn't really fit to main section "API Naming".

I would suggest to incorporate the text into the intro of main section "14. Common Headers" or move the whole rule there. Maybe we want to link to section [14] and [15] from [132].

It is also questionable if we need a rule "Use Hyphenated HTTP Headers" [131] at all, as section "15. Proprietary Headers" restricts

[2017-09-28 06:40] whiskeysierra commented on #251
I wrote my understanding of the current situation in a document and shared it with the guild + people mentioned above. This should be a starting point for the upcoming discussions.

[2017-10-04 08:55] whiskeysierra commented on #249
I'd favor absolute over relative URLs since it will make the lives of all consumers easier and only increases the effort on the provider side slightly.

[2017-10-05 09:47] tkrop opened #301 "Add guideline for optimistic locking in REST APIs"
After a discussion in the guild chat participants suggested to add a best practice section for optimistic locking to the guidelines. As good starting point the following [internal documentation about different options](https://techwiki.zalando.net/display/DT/Optimistic+Locking+in+REST) was suggested:

* Option 1: Last-Modified / If-Unmodified-Since
* Option 2: Hardcore REST with only URLs in list

[2017-10-09 15:44] matterche commented on #301
As we already discussed this topic internally at least twice and find more teams being interested in existing approaches I would definitely support the creation of a corresponding section in the guidelines.

[2017-10-10 13:19] ePaul commented on #301
*From the meeting*
* new appendix "best practices"
* links from relevant sections
* list all options apart from two, with pro/con.
* help wanted.

[2017-10-10 13:22] ePaul commented on #297
*From the meeting*

* Sounds good. Could you open a pull-request with those changes?

[2017-10-10 13:31] #295 closed

[2017-10-10 13:33] tkrop commented on #296
**From Meeting**:
* different opinions in guild about how restrictive rules should be and what readability is
* argumentation is not strong enough, need additional reasoning

[2017-10-10 14:27] matterche commented on #301
I would be happy to help. Will approach @ePaul offline :)

[2017-10-16 12:42] tlossen opened #302 "rule #196 is hard to understand"
maybe an explanation of "Open API's Schema Object" (as opposed to Open API itself) would help.

also, i stumbled over "the list of non-available keywords relative to JSON-Schema". to a casual reader, this sounds like `oneOf` is forbidden, while i suppose it simply means that `oneOf` is a reserved keyword.

[2017-10-16 13:19] maxim-tschumak opened #303 "Fix Link to Rule # 192"

[2017-10-24 12:12] #303 closed

[2017-10-24 13:27] ePaul commented on #296
**From the guild meeting:**

We currently don't see enough motivation for this.
Feel free to reopen if we get more arguments.

[2017-10-24 13:27] #296 closed

[2017-10-24 13:42] maxim-tschumak commented on #296
OK, In order to keep Zally consistent to API Guidelines, I've created a [PR](https://github.com/zalando-incubator/zally/pull/568) to deactivate related rule.

[2017-10-24 19:53] darrenr opened #305 "PDF guide has lost cover page"
I noticed in the latest version (last 3 days) your PDF version lost the cover page. I suspect this is due to  a change / bug in the asciidoctor docker container.

[2017-10-26 09:50] tkrop commented on #305
Confirmed this bug in a local build.

[2017-10-26 11:39] tkrop commented on #305
Unfortunately, this is a current aciidoctor-pdf limitation (see [issue 233](https://github.com/asciidoctor/asciidoctor-pdf/issues/233)).

[2017-10-26 11:39] #305 closed

[2017-11-07 08:08] tkrop opened #310 "Guideline on API Version Number is Impractical for Reviews"
The current guideline for API version numbers is impractical for the review process. It requires API writers to update the minor or major version after the review has been done, while changing the "review" number on each request (see [rule 116](https://zalando.github.io/restful-api-guidelines/#116)).

This results in the problem that a reviewer cannot review the version number as it will be only c

[2017-11-07 14:00] ePaul commented on #310
**From the meeting**:

- Experience shows that the draft versions were never really used.
- We can track changes during review via the pull requests
- patch versions are potentially useful for editorial changes (typo fixes)

Therefore we want to use semantic versioning, with
- patch = editorial changes (updating is not enforced)
- minor = compatible changes with additional functionality
- major =

[2017-11-07 14:22] ePaul commented on #294
**From the meeting**

We are closing this for now, as we don't see an urgent need right now. Can be reopened when the need arises.

[2017-11-07 14:23] #294 closed

[2017-11-08 08:07] maxim-tschumak opened #312 "Contributing Manual is not Consistent with the Current Set Up of Rule Ids"
`CONTRIBUTING.adoc` states that there is a file in the repo in which the last used Rule Id is stored. This is not the case. We switched to another approach of proofing of uniqueness of the Rule Id:
1. There is a script which checks the uniqueness of all assigned Rule Ids (from the sources).
2. There is a script which generates a new unique Rule Id.

`CONTRIBUTING.adoc` has to be adjusted.

Thanks

[2017-11-08 15:34] #278 closed

[2017-11-08 16:05] #312 closed

[2017-11-10 08:23] tfrauenstein commented on #234
@dehora As discussed, let us proceed like follows here:

a) Yes, an API developer use case oriented presentation could be helpful, abstracting, respectively referencing to HTTP and REST details. Typical use cases could be "c/r/u/d resource object", "retrieval from data collection", "batching" etc. Let us also evaluate #guild-api chat to identify most relevant use cases. I would propose additional

[2017-11-10 08:44] tfrauenstein commented on #233
@dehora as discussed, meanwhile there have been some updates for better description of status code handling. Pls. check that your editorial hints are addressed and, if not, create concrete PR such that we can close this issue. Thank you.

[2017-11-14 13:21] maxim-tschumak commented on #297
Agree with the first two paragraphs (and preparing a PR..).

I wouldn't remove [131]:
- [131] and [132] belong together
- [131] is not stated explicitly elsewhere
- There is an automated Zally check for this guideline (incl. some historical information about the violations)

What do you think?

[2017-11-15 12:21] maxim-tschumak commented on #297
Zally issue has been created: https://github.com/zalando-incubator/zally/issues/591

[2017-11-16 10:36] ePaul commented on #297
@meshcalero do the changes made in #317 fix the issue from your point of view?

[2017-11-17 08:15] #310 closed

[2017-11-17 14:48] matterche commented on #301
- [ ] Add new appendix "best practices"
- [ ] List all options with pro/con.
- [ ] Add links from relevant sections
- [ ] Extend changelog

[2017-11-21 13:31] tkrop opened #319 "Check Options for Zalando's Tech Principles"
[Zalando' Tech Principles](https://github.bus.zalan.do/team-architecture/zalando-tech-principles) have been moved out of the public domain when we changed our Open Source Strategy. We now need to check the options for to provide public access again.

[2017-11-21 13:49] ePaul commented on #197
*Update*: We want at least document the current state of the art. @codekultur will have a look.

[2017-11-21 14:07] ePaul commented on #221
**From the meeting**: Postponed for now, as a central authorization engine for multi-tenancy support is not yet planned concretely.

[2017-11-21 14:07] #221 closed

[2017-11-21 14:14] ePaul commented on #245
This is related to rule [203](http://zalando.github.io/restful-api-guidelines/#203). I guess this rule should adapted here to say how to indicate the ordering key in the event schema definition.

[2017-11-21 14:27] ePaul opened #320 "X-Tenant-ID: reword the description"
From [183](http://zalando.github.io/restful-api-guidelines/#183):

We need to reword this really old text.

[2017-11-21 14:56] maxim-tschumak opened #321 "[212] References [202] Instead of [203]"

[2017-11-21 16:05] conorclifford opened #323 "Rule #150 incorrectly references discussion of 207 for rate limiting"
The [rule 150](http://zalando.github.io/restful-api-guidelines/#150), in particular, when discussing the `429` response code, contains the following:

This incorrectly links to http://zalando.github.io/restful-api-guidelines/#152 where it should actually link to http://zalando.github.io/restful-api-guidelines/#153, which is "Must: Use 429 with Headers for Rate Limits [153]"

[2017-11-21 18:40] #321 closed

[2017-11-21 21:58] hjacobs commented on #319
I would like to have the Zalando Tech Principles somewhere online again (in Zalando scope) :smile:, in the meantime I still keep the read-only archived repo around: https://github.com/hjacobs/zalando-tech-principles.

[2017-11-21 22:41] hjacobs opened #324 "Links still point to TechWiki (deprecated)"
Some (internal) links still point to TechWiki (deprecated) instead of Confluence, e.g. here: http://zalando.github.io/restful-api-guidelines/#zalando-specific-information

[2017-11-22 08:01] tfrauenstein commented on #319
Yes, @tlossen is currently checking option to move it to Zalando OSS.

[2017-11-22 11:04] maxim-tschumak opened #327 "Fix Maximal Length of `x-api-id`"

[2017-11-22 12:58] #327 closed

[2017-11-22 17:36] ePaul commented on #323
Thanks for noting. We found already quite some of those off-by-one wrong links, which were likely caused by the migration to AsciiDoc (in #282), maybe we should systematically check all of them.

[2017-11-22 17:41] ePaul commented on #319
@hjacobs thanks, in #309 the link was changed to point to your fork, this is how we noticed this.

[2017-11-22 17:48] #249 closed

[2017-11-23 08:53] #320 closed

[2017-11-24 15:06] conorclifford opened #329 "[trivial] Typo in API Definition for ETag in #182"
there is a tiny typo in the API Definition for `ETag` header, provided in rule https://zalando.github.io/restful-api-guidelines/#182

should read

(missing space in `versionsof`)

[2017-11-27 15:27] antivanov opened #331 "Typos in the Guidelines"
There are multiple typos in the guidelines, for example:

* `IDs must opaque strings` should be `IDs must be opaque strings`
* `different versionsof a resource` should be `different versions of a resource`
* `make sure that all constraints a clearly defined` should be `make sure that all constraints are clearly defined`

etc.

It would be nice to proof-read and correct these typos as they may some

[2017-11-28 09:03] matterche commented on #301
Opened a pull request: #330 Please could someone have a look?

[2017-11-28 12:14] meshcalero commented on #297
@ePaul Looks good for me. Closing as #317 has been merged already

[2017-11-28 12:14] #297 closed

[2017-11-28 14:16] codekultur commented on #245
We already have a field named "parent_eids" in the event metadata section, which can be used for partial and absolute ordering (depending on the interpretation of the sender). IMHO it makes sense to use this field for ordering. Maybe we just need to extend the metadata by a specification if the order defined via this parent id, is either a partial or absolute order.

What do you think?

[2017-11-28 14:25] SebastianNelk commented on #245
Following the guildlines:
http://zalando.github.io/restful-api-guidelines/index.html#198

This is what parent_eids is ment for:
    parent_eids:
      description: |
        Event identifiers of the Event that caused the generation of
        this Event. Set by the producer.
      type: array
      items:
        type: string
        format: uuid
      example: '105a76d8-db49-4144-ace7-e683e8f4ba4

[2017-11-28 14:35] codekultur commented on #245
Well, it depends on what "Event identifiers of the Event that caused the generation of
this Event." means or how it is interpreted. I would read it as the event that is the predecessor of the event in question, which IMHO defines an order.

Or is the parent_eids field used for something else and I misinterpreted the description (maybe we should then think about sharpening the description).

[2017-11-28 14:50] SebastianNelk commented on #245
It's clearly highlighting it have to be eids like in business event of "order placed" created afterwards "billing provider contacted". What we are looking for is a order of consumption of the actual event it is defined for.

[2017-11-29 12:52] #331 closed

[2017-11-29 12:52] #252 closed

[2017-11-30 08:45] ePaul commented on #245
If the eid is an UUID created by one of the usual processes, ordering by it does not work (because creation time is not conserved). If the eid is a counter just formatted in UUID format, we can order by it.

The `parent_eids` field works for grouping events which are related to each other (like the example given by Sebastian), but not so much for ordering unrelated events for the same entity.

[2017-11-30 15:57] codekultur commented on #245
Of course you cannot order by the parent id. What I mean is: With help of the `parent_eids` you can build a chain of events (think of a linked list). This is a often used pattern to bring order to events in a distributed system.

E.g. Event id 23 is a "order #999 placed" event. Event id 42 (e.g. "order #999 shipped")  has  event id 23 as parent. Event id 84 (e.g. "invoice of order #999 payed") wou

[2017-12-01 08:39] SebastianNelk commented on #245
Looking forward for our Hangout, but to give you a heads-up I want to ensure that the changes of entities which are delivered via data change events are consumed in the right order and also compaction is working correctly. For that a ordering of the events per entity is required which can't be ensured by clocks in distributed systems or any other information actually available in the event schema.

[2017-12-04 11:54] tkrop commented on #329
Fixed by #332.

[2017-12-04 11:54] #329 closed

[2017-12-07 10:55] conorclifford opened #335 "[trivial] Rule 183 has bad example for "X-Sales-Channel" custom header"
The example given in http://zalando.github.io/restful-api-guidelines/#183 for the `X-Sales-Channel` is misleading with respect to the Zalando definition of a Sales Channel identifier - the example shows `101` whereas in its use within Zalando these values are UUID values.

While the documentation is generic, so this should be harmless, having a misleading example may slow down clients of APIs that

[2017-12-07 13:31] #301 closed

[2017-12-08 07:57] dehora commented on #302
oneOf isn't available in Open API/swagger 2.0 (it's part of JSON-Schema and that can cause confusion because Nakadi is based on JSON-Schema not Open API, and so you can end up with event types that are not expressible using Open API). oneOf has been added to to v3.0, but the guidelines aren't on that version yet.

[2017-12-08 15:00] rm-hull opened #337 "Missing 'Resources' heading and ToC index link"
See screenshot:
<img width="765" alt="screen shot 2017-12-08 at 09 56 50" src="https://user-images.githubusercontent.com/1915543/33771245-5e7a403c-dbfe-11e7-9605-4f51c44c22ee.png">

[2017-12-15 15:10] maxim-tschumak opened #339 "Update Link to Zally Project"
Zally is part of Zalando main GitHub organization. We should update links to the project.

[2017-12-15 15:52] #339 closed

[2017-12-15 18:10] roxspring opened #341 "Use Specific HTTP Status Codes [150] Denies PATCH -> 204"
Rule 150 to use specific HTTP status codes seems to suggest that the only successful PATCH responses are:
* 202 Accepted (implies asynchronous, change may or may not happen in the future)
* 200 OK (implies synchronous completion, suggests some content will follow)

But it that leaves a seemingly obvious cases unsupported:
* 204 No Content (implies synchronous completion, but nothing further to say

[2017-12-18 09:44] tkrop commented on #341
@roxspring this seems to be a valid request. I would use `PATCH` with `204` as a standard synchronous response. `205`, which we even do not have in the list may be necessary, if applying a patch has consequences the patcher could not have anticipated. But `204` seems for me a valid request.

Does anyone remember why it is not in the list?

[2017-12-18 09:58] whiskeysierra commented on #341
Accepted is 202. 204 is No Content.

On Dec 15, 2017 19:10, "Rob Oxspring" <notifications@github.com> wrote:

[2017-12-18 16:27] roxspring commented on #341
Thanks @whiskeysierra. Had to re-read several times before I could see the typo you were pointing out.

Corrected in original comment, request to allow 204 No Content still stands.

[2017-12-19 13:48] tkrop commented on #341
From guild meeting: want to extend methods with PATCH.

[2017-12-19 13:49] tkrop commented on #341
@roxspring can you create the PR?

[2017-12-19 13:52] #335 closed

[2017-12-19 13:54] roxspring commented on #341
No time today but should be able to open a PR here and on Zally later in the week.

[2017-12-19 14:08] tkrop commented on #251
From guild meeting: make contact with tracebility initiative.

[2017-12-25 19:45] garrettmac commented on #32
@dehora

No established industry standard exists, but many popular Internet companies prefer snake_case: e.g. GitHub, Stack Exchange, Twitter. Others, like Google and Amazon, use both - but not only camelCase. It’s essential to establish a consistent look and feel such that JSON looks as if it came from the same hand.

would you mind taking a look at [Google JSON Style Guide](https://google.github

[2017-12-28 23:35] tkrop commented on #32
@garrettmac sorry, this issue and the discussion is closed since 1.5 years. Our rules are based on a very pragmatic decision: We want uniformity and we do not want developers to argue about such topics. That's why we have this rule, and the rest is rolling dices. Sorry, but we will not edit the rule. Anyhow

[2017-12-29 07:41] #337 closed

[2017-12-29 07:42] #324 closed

[2017-12-29 07:42] #323 closed

[2017-12-29 16:46] rm-hull opened #346 "Bullet point formatting lost in paragraph - see attached screeenshot"
![screenshot_20171229-114132](https://user-images.githubusercontent.com/1915543/34442061-a66baa30-ec8d-11e7-87aa-c0786b7e3c6b.png)

[2018-01-03 08:29] maxim-tschumak commented on #346
Thanks for pointing out!

[2018-01-03 08:51] #341 closed

[2018-01-03 11:27] tkrop opened #348 "Add must rule to mark APIs with intended audience"
We propose a **must** rule to mark APIs with an intended API audience to support differentiated standards and richer infrastructure support for API discoverability, design and documentation quality, and permission granting (see [API Audience narrative](https://docs.google.com/document/d/1ff9b6oIa6dyQRyaj36-jmFdtCjWlngnGMsligR4RMIY) for more information).

[2018-01-03 11:28] tkrop opened #349 "Create meta information section and move existing rules"
Move:

* [General Metadata (101)](http://zalando.github.io/restful-api-guidelines/#101),
* [API Identifier (215)](http://zalando.github.io/restful-api-guidelines/#215), and
* [Semantic Versioning (116)](http://zalando.github.io/restful-api-guidelines/#116)

to new metadata section to prepare additional metadata entries for

* API Audience (#348) and
* Callback APIs

in on place.

[2018-01-03 11:29] #346 closed

[2018-01-05 17:22] ePaul commented on #245
I think we are looking at different things here.

For (business) events of (potentially) different event types, which somehow belong together, and are caused by the previous event, `parent_eid` is the way to go. (E.g. the events for the sales order processing steps.)

For events about changes in the same data entity (i.e. data change events), caused by different (unrelated) triggers, this will not